In [1]:
import numpy as np
import pandas as pd

In [11]:
emi = pd.read_csv("Emission.csv", sep=";")
emi

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.29,406.00,345.00,0.28,253.00,262.00,245.00,247.00,254.00
1,Angola,1.24,1.25,1.35,1.28,1.64,1.22,1.18,1.14,1.12
2,Albania,1.56,1.79,1.69,1.69,1.90,1.60,1.57,1.61,1.59
3,Andorra,6.12,5.87,5.92,5.90,5.83,5.97,6.07,6.27,6.12
4,United Arab Emirates,18.30,18.90,23.80,23.70,24.20,20.70,21.70,21.10,21.40
5,Argentina,4.57,4.61,4.60,4.56,4.56,4.64,4.60,4.55,4.41
6,Armenia,1.48,1.73,1.99,1.91,1.91,1.65,1.76,1.70,1.89
7,Antigua and Barbuda,5.96,5.75,5.80,5.73,5.70,5.84,5.90,5.89,5.88
8,Australia,18.40,18.00,17.80,17.10,16.70,16.80,17.00,17.00,16.90
9,Austria,8.60,8.30,7.95,7.97,7.49,7.70,7.70,7.94,7.75

In [12]:
pop = pd.read_csv("Population.csv", sep=";")
pop

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Argentina,40.9M,41.3M,41.8M,42.2M,42.6M,43.1M,43.5M,43.9M,44.4M,44.8M,45.2M
1,Armenia,2.88M,2.88M,2.88M,2.9M,2.91M,2.93M,2.94M,2.94M,2.95M,2.96M,2.96M
2,Antigua and Barbuda,88k,89.3k,90.4k,91.5k,92.6k,93.6k,94.5k,95.4k,96.3k,97.1k,97.9k
3,Australia,22.2M,22.5M,22.9M,23.3M,23.6M,23.9M,24.3M,24.6M,24.9M,25.2M,25.5M
4,Austria,8.41M,8.45M,8.5M,8.56M,8.62M,8.68M,8.75M,8.82M,8.89M,8.96M,9.01M
5,Azerbaijan,9.03M,9.15M,9.26M,9.39M,9.51M,9.62M,9.74M,9.85M,9.95M,10M,10.1M
6,Burundi,8.68M,8.96M,9.25M,9.54M,9.84M,10.2M,10.5M,10.8M,11.2M,11.5M,11.9M
7,Belgium,10.9M,11M,11.1M,11.2M,11.2M,11.3M,11.4M,11.4M,11.5M,11.5M,11.6M
8,Benin,9.2M,9.46M,9.73M,10M,10.3M,10.6M,10.9M,11.2M,11.5M,11.8M,12.1M
9,Burkina Faso,15.6M,16.1M,16.6M,17.1M,17.6M,18.1M,18.6M,19.2M,19.8M,20.3M,20.9M

**Prima proviamo con pd.concat()**

In [13]:
pd.concat([emi, pop], join='outer')

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,0.29,406.0,345.0,0.28,253.0,262.0,245.0,247.0,254.0,NaN,NaN
1,Angola,1.24,1.25,1.35,1.28,1.64,1.22,1.18,1.14,1.12,NaN,NaN
2,Albania,1.56,1.79,1.69,1.69,1.9,1.6,1.57,1.61,1.59,NaN,NaN
3,Andorra,6.12,5.87,5.92,5.9,5.83,5.97,6.07,6.27,6.12,NaN,NaN
4,United Arab Emirates,18.3,18.9,23.8,23.7,24.2,20.7,21.7,21.1,21.4,NaN,NaN
5,Argentina,4.57,4.61,4.6,4.56,4.56,4.64,4.6,4.55,4.41,NaN,NaN
6,Armenia,1.48,1.73,1.99,1.91,1.91,1.65,1.76,1.7,1.89,NaN,NaN
7,Antigua and Barbuda,5.96,5.75,5.8,5.73,5.7,5.84,5.9,5.89,5.88,NaN,NaN
8,Australia,18.4,18.0,17.8,17.1,16.7,16.8,17.0,17.0,16.9,NaN,NaN
9,Austria,8.6,8.3,7.95,7.97,7.49,7.7,7.7,7.94,7.75,NaN,NaN
0,Argentina,40.9M,41.3M,41.8M,42.2M,42.6M,43.1M,43.5M,43.9M,44.4M,44.8M,45.2M
1,Armenia,2.88M,2.88M,2.88M,2.9M,2.91M,2.93M,2.94M,2.94M,2.95M,2.96M,2.96M
2,Antigua and Barbuda,88k,89.3k,90.4k,91.5k,92.6k,93.6k,94.5k,95.4k,96.3k,97.1k,97.9k
3,Australia,22.2M,22.5M,22.9M,23.3M,23.6M,23.9M,24.3M,24.6M,24.9M,25.2M,25.5M
4,Austria,8.41M,8.45M,8.5M,8.56M,8.62M,8.68M,8.75M,8.82M,8.89M,8.96M,9.01M
5,Azerbaijan,9.03M,9.15M,9.26M,9.39M,9.51M,9.62M,9.74M,9.85M,9.95M,10M,10.1M
6,Burundi,8.68M,8.96M,9.25M,9.54M,9.84M,10.2M,10.5M,10.8M,11.2M,11.5M,11.9M
7,Belgium,10.9M,11M,11.1M,11.2M,11.2M,11.3M,11.4M,11.4M,11.5M,11.5M,11.6M
8,Benin,9.2M,9.46M,9.73M,10M,10.3M,10.6M,10.9M,11.2M,11.5M,11.8M,12.1M
9,Burkina Faso,15.6M,16.1M,16.6M,17.1M,17.6M,18.1M,18.6M,19.2M,19.8M,20.3M,20.9M

In [14]:
pd.concat([pop, emi], join='outer')

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Argentina,40.9M,41.3M,41.8M,42.2M,42.6M,43.1M,43.5M,43.9M,44.4M,44.8M,45.2M
1,Armenia,2.88M,2.88M,2.88M,2.9M,2.91M,2.93M,2.94M,2.94M,2.95M,2.96M,2.96M
2,Antigua and Barbuda,88k,89.3k,90.4k,91.5k,92.6k,93.6k,94.5k,95.4k,96.3k,97.1k,97.9k
3,Australia,22.2M,22.5M,22.9M,23.3M,23.6M,23.9M,24.3M,24.6M,24.9M,25.2M,25.5M
4,Austria,8.41M,8.45M,8.5M,8.56M,8.62M,8.68M,8.75M,8.82M,8.89M,8.96M,9.01M
5,Azerbaijan,9.03M,9.15M,9.26M,9.39M,9.51M,9.62M,9.74M,9.85M,9.95M,10M,10.1M
6,Burundi,8.68M,8.96M,9.25M,9.54M,9.84M,10.2M,10.5M,10.8M,11.2M,11.5M,11.9M
7,Belgium,10.9M,11M,11.1M,11.2M,11.2M,11.3M,11.4M,11.4M,11.5M,11.5M,11.6M
8,Benin,9.2M,9.46M,9.73M,10M,10.3M,10.6M,10.9M,11.2M,11.5M,11.8M,12.1M
9,Burkina Faso,15.6M,16.1M,16.6M,17.1M,17.6M,18.1M,18.6M,19.2M,19.8M,20.3M,20.9M
0,Afghanistan,0.29,406.0,345.0,0.28,253.0,262.0,245.0,247.0,254.0,NaN,NaN
1,Angola,1.24,1.25,1.35,1.28,1.64,1.22,1.18,1.14,1.12,NaN,NaN
2,Albania,1.56,1.79,1.69,1.69,1.9,1.6,1.57,1.61,1.59,NaN,NaN
3,Andorra,6.12,5.87,5.92,5.9,5.83,5.97,6.07,6.27,6.12,NaN,NaN
4,United Arab Emirates,18.3,18.9,23.8,23.7,24.2,20.7,21.7,21.1,21.4,NaN,NaN
5,Argentina,4.57,4.61,4.6,4.56,4.56,4.64,4.6,4.55,4.41,NaN,NaN
6,Armenia,1.48,1.73,1.99,1.91,1.91,1.65,1.76,1.7,1.89,NaN,NaN
7,Antigua and Barbuda,5.96,5.75,5.8,5.73,5.7,5.84,5.9,5.89,5.88,NaN,NaN
8,Australia,18.4,18.0,17.8,17.1,16.7,16.8,17.0,17.0,16.9,NaN,NaN
9,Austria,8.6,8.3,7.95,7.97,7.49,7.7,7.7,7.94,7.75,NaN,NaN

In [15]:
pd.concat([emi, pop], join='inner')

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.29,406.0,345.0,0.28,253.0,262.0,245.0,247.0,254.0
1,Angola,1.24,1.25,1.35,1.28,1.64,1.22,1.18,1.14,1.12
2,Albania,1.56,1.79,1.69,1.69,1.9,1.6,1.57,1.61,1.59
3,Andorra,6.12,5.87,5.92,5.9,5.83,5.97,6.07,6.27,6.12
4,United Arab Emirates,18.3,18.9,23.8,23.7,24.2,20.7,21.7,21.1,21.4
5,Argentina,4.57,4.61,4.6,4.56,4.56,4.64,4.6,4.55,4.41
6,Armenia,1.48,1.73,1.99,1.91,1.91,1.65,1.76,1.7,1.89
7,Antigua and Barbuda,5.96,5.75,5.8,5.73,5.7,5.84,5.9,5.89,5.88
8,Australia,18.4,18.0,17.8,17.1,16.7,16.8,17.0,17.0,16.9
9,Austria,8.6,8.3,7.95,7.97,7.49,7.7,7.7,7.94,7.75
0,Argentina,40.9M,41.3M,41.8M,42.2M,42.6M,43.1M,43.5M,43.9M,44.4M
1,Armenia,2.88M,2.88M,2.88M,2.9M,2.91M,2.93M,2.94M,2.94M,2.95M
2,Antigua and Barbuda,88k,89.3k,90.4k,91.5k,92.6k,93.6k,94.5k,95.4k,96.3k
3,Australia,22.2M,22.5M,22.9M,23.3M,23.6M,23.9M,24.3M,24.6M,24.9M
4,Austria,8.41M,8.45M,8.5M,8.56M,8.62M,8.68M,8.75M,8.82M,8.89M
5,Azerbaijan,9.03M,9.15M,9.26M,9.39M,9.51M,9.62M,9.74M,9.85M,9.95M
6,Burundi,8.68M,8.96M,9.25M,9.54M,9.84M,10.2M,10.5M,10.8M,11.2M
7,Belgium,10.9M,11M,11.1M,11.2M,11.2M,11.3M,11.4M,11.4M,11.5M
8,Benin,9.2M,9.46M,9.73M,10M,10.3M,10.6M,10.9M,11.2M,11.5M
9,Burkina Faso,15.6M,16.1M,16.6M,17.1M,17.6M,18.1M,18.6M,19.2M,19.8M

**CHIARAMENTE IN QUESTO CASO LA CONCATENAZIONE È L'OPERAZIONE SBAGLIATA DA FARE**

**Vediamo la merge()**

In [16]:
pd.merge(emi, pop, on='country', how='inner')

,country,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,2018_x,...,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019,2020
0,Argentina,4.57,4.61,4.60,4.56,4.56,4.64,4.60,4.55,4.41,...,41.3M,41.8M,42.2M,42.6M,43.1M,43.5M,43.9M,44.4M,44.8M,45.2M
1,Armenia,1.48,1.73,1.99,1.91,1.91,1.65,1.76,1.70,1.89,...,2.88M,2.88M,2.9M,2.91M,2.93M,2.94M,2.94M,2.95M,2.96M,2.96M
2,Antigua and Barbuda,5.96,5.75,5.80,5.73,5.70,5.84,5.90,5.89,5.88,...,89.3k,90.4k,91.5k,92.6k,93.6k,94.5k,95.4k,96.3k,97.1k,97.9k
3,Australia,18.40,18.00,17.80,17.10,16.70,16.80,17.00,17.00,16.90,...,22.5M,22.9M,23.3M,23.6M,23.9M,24.3M,24.6M,24.9M,25.2M,25.5M
4,Austria,8.60,8.30,7.95,7.97,7.49,7.70,7.70,7.94,7.75,...,8.45M,8.5M,8.56M,8.62M,8.68M,8.75M,8.82M,8.89M,8.96M,9.01M

In [17]:
pd.merge(emi, pop, on='country', how='outer')

,country,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,2018_x,...,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019,2020
0,Afghanistan,0.29,406.00,345.00,0.28,253.00,262.00,245.00,247.00,254.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Angola,1.24,1.25,1.35,1.28,1.64,1.22,1.18,1.14,1.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,1.56,1.79,1.69,1.69,1.90,1.60,1.57,1.61,1.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,6.12,5.87,5.92,5.90,5.83,5.97,6.07,6.27,6.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Arab Emirates,18.30,18.90,23.80,23.70,24.20,20.70,21.70,21.10,21.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Argentina,4.57,4.61,4.60,4.56,4.56,4.64,4.60,4.55,4.41,...,41.3M,41.8M,42.2M,42.6M,43.1M,43.5M,43.9M,44.4M,44.8M,45.2M
6,Armenia,1.48,1.73,1.99,1.91,1.91,1.65,1.76,1.70,1.89,...,2.88M,2.88M,2.9M,2.91M,2.93M,2.94M,2.94M,2.95M,2.96M,2.96M
7,Antigua and Barbuda,5.96,5.75,5.80,5.73,5.70,5.84,5.90,5.89,5.88,...,89.3k,90.4k,91.5k,92.6k,93.6k,94.5k,95.4k,96.3k,97.1k,97.9k
8,Australia,18.40,18.00,17.80,17.10,16.70,16.80,17.00,17.00,16.90,...,22.5M,22.9M,23.3M,23.6M,23.9M,24.3M,24.6M,24.9M,25.2M,25.5M
9,Austria,8.60,8.30,7.95,7.97,7.49,7.70,7.70,7.94,7.75,...,8.45M,8.5M,8.56M,8.62M,8.68M,8.75M,8.82M,8.89M,8.96M,9.01M
10,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.15M,9.26M,9.39M,9.51M,9.62M,9.74M,9.85M,9.95M,10M,10.1M
11,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.96M,9.25M,9.54M,9.84M,10.2M,10.5M,10.8M,11.2M,11.5M,11.9M
12,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11M,11.1M,11.2M,11.2M,11.3M,11.4M,11.4M,11.5M,11.5M,11.6M
13,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.46M,9.73M,10M,10.3M,10.6M,10.9M,11.2M,11.5M,11.8M,12.1M
14,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.1M,16.6M,17.1M,17.6M,18.1M,18.6M,19.2M,19.8M,20.3M,20.9M

In [18]:
pd.merge(emi, pop, on='country', how='left')

,country,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,2018_x,...,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019,2020
0,Afghanistan,0.29,406.00,345.00,0.28,253.00,262.00,245.00,247.00,254.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Angola,1.24,1.25,1.35,1.28,1.64,1.22,1.18,1.14,1.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,1.56,1.79,1.69,1.69,1.90,1.60,1.57,1.61,1.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,6.12,5.87,5.92,5.90,5.83,5.97,6.07,6.27,6.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Arab Emirates,18.30,18.90,23.80,23.70,24.20,20.70,21.70,21.10,21.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Argentina,4.57,4.61,4.60,4.56,4.56,4.64,4.60,4.55,4.41,...,41.3M,41.8M,42.2M,42.6M,43.1M,43.5M,43.9M,44.4M,44.8M,45.2M
6,Armenia,1.48,1.73,1.99,1.91,1.91,1.65,1.76,1.70,1.89,...,2.88M,2.88M,2.9M,2.91M,2.93M,2.94M,2.94M,2.95M,2.96M,2.96M
7,Antigua and Barbuda,5.96,5.75,5.80,5.73,5.70,5.84,5.90,5.89,5.88,...,89.3k,90.4k,91.5k,92.6k,93.6k,94.5k,95.4k,96.3k,97.1k,97.9k
8,Australia,18.40,18.00,17.80,17.10,16.70,16.80,17.00,17.00,16.90,...,22.5M,22.9M,23.3M,23.6M,23.9M,24.3M,24.6M,24.9M,25.2M,25.5M
9,Austria,8.60,8.30,7.95,7.97,7.49,7.70,7.70,7.94,7.75,...,8.45M,8.5M,8.56M,8.62M,8.68M,8.75M,8.82M,8.89M,8.96M,9.01M

In [19]:
pd.merge(emi, pop, on='country', how='right')

,country,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,2018_x,...,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019,2020
0,Argentina,4.57,4.61,4.60,4.56,4.56,4.64,4.60,4.55,4.41,...,41.3M,41.8M,42.2M,42.6M,43.1M,43.5M,43.9M,44.4M,44.8M,45.2M
1,Armenia,1.48,1.73,1.99,1.91,1.91,1.65,1.76,1.70,1.89,...,2.88M,2.88M,2.9M,2.91M,2.93M,2.94M,2.94M,2.95M,2.96M,2.96M
2,Antigua and Barbuda,5.96,5.75,5.80,5.73,5.70,5.84,5.90,5.89,5.88,...,89.3k,90.4k,91.5k,92.6k,93.6k,94.5k,95.4k,96.3k,97.1k,97.9k
3,Australia,18.40,18.00,17.80,17.10,16.70,16.80,17.00,17.00,16.90,...,22.5M,22.9M,23.3M,23.6M,23.9M,24.3M,24.6M,24.9M,25.2M,25.5M
4,Austria,8.60,8.30,7.95,7.97,7.49,7.70,7.70,7.94,7.75,...,8.45M,8.5M,8.56M,8.62M,8.68M,8.75M,8.82M,8.89M,8.96M,9.01M
5,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.15M,9.26M,9.39M,9.51M,9.62M,9.74M,9.85M,9.95M,10M,10.1M
6,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.96M,9.25M,9.54M,9.84M,10.2M,10.5M,10.8M,11.2M,11.5M,11.9M
7,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11M,11.1M,11.2M,11.2M,11.3M,11.4M,11.4M,11.5M,11.5M,11.6M
8,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.46M,9.73M,10M,10.3M,10.6M,10.9M,11.2M,11.5M,11.8M,12.1M
9,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.1M,16.6M,17.1M,17.6M,18.1M,18.6M,19.2M,19.8M,20.3M,20.9M