**Si legga il csv ds572_raccolta_differenziata_2010-16.csv dal titolo: Raccolta Differenziata (2010-2016), rilasciato dal Comune di Milano come Open Data (https://dati.comune.milano.it/dataset/ds572_raccolta-differenziata-2010-2016)**

In [14]:
import numpy as np
import pandas as pd

In [15]:
raccolta = pd.read_csv('ds572_raccolta_differenziata_2010-16.csv', sep =";")
raccolta

,anno_rilevamento_rifiuti,Rifiuti_differenziata_tipologia,Rifiuti_differenziata
0,2016,Vetro,64.722
1,2016,Carta,58.966
2,2016,Cartone,20.534
3,2016,Umido,134.817
4,2016,Multimateriale Leggero (Imb. di plastica e Lat...,43.466
...,...,...,...
128,2010,Rifiuti Urbani Pericolosi,539.000
129,2010,Sfalci e Potature,433.000
130,2010,Pneumatici,23.000
131,2010,Ingombranti a recupero,NaN
132,2010,Altri rifiuti da raccolta differenziata,182.000

**1) Svolgere analisi preliminare del dataset (valori mancanti, coerenza dei tipi di dato, riniminare colonne, caratteristiche generali)**

In [16]:
raccolta.isnull().any()

anno_rilevamento_rifiuti           False
Rifiuti_differenziata_tipologia    False
Rifiuti_differenziata               True
dtype: bool

In [17]:
raccolta['Rifiuti_differenziata'].isnull().sum()

5

In [18]:
raccolta[raccolta['Rifiuti_differenziata'].isnull()]

,anno_rilevamento_rifiuti,Rifiuti_differenziata_tipologia,Rifiuti_differenziata
55,2014,Ingombranti a recupero,NaN
74,2013,Ingombranti a recupero,NaN
93,2012,Ingombranti a recupero,NaN
112,2011,Ingombranti a recupero,NaN
131,2010,Ingombranti a recupero,NaN

Ho trovato che ci sono 5 valori nulli, nella colonna Rifiuti_differenziata, tutti relativi a Ingombranti a recupero. Potrei mettere 0 come valore, oppure ricavare un dataframe senza quelle righe. Scelgo questa ultima soluzione.

In [19]:
raccolta=raccolta[~raccolta['Rifiuti_differenziata'].isnull()]
raccolta

,anno_rilevamento_rifiuti,Rifiuti_differenziata_tipologia,Rifiuti_differenziata
0,2016,Vetro,64.722
1,2016,Carta,58.966
2,2016,Cartone,20.534
3,2016,Umido,134.817
4,2016,Multimateriale Leggero (Imb. di plastica e Lat...,43.466
...,...,...,...
127,2010,Metalli,1.480
128,2010,Rifiuti Urbani Pericolosi,539.000
129,2010,Sfalci e Potature,433.000
130,2010,Pneumatici,23.000
132,2010,Altri rifiuti da raccolta differenziata,182.000

In [20]:
raccolta.dtypes

anno_rilevamento_rifiuti             int64
Rifiuti_differenziata_tipologia     object
Rifiuti_differenziata              float64
dtype: object

I tipi di dato sono coerenti

In [21]:
raccolta.columns

Index(['anno_rilevamento_rifiuti', 'Rifiuti_differenziata_tipologia',
       'Rifiuti_differenziata'],
      dtype='object')

In [9]:
raccolta=raccolta.rename(columns={'anno_rilevamento_rifiuti': "anno", 
                        'Rifiuti_differenziata_tipologia': "tipo", 
                        'Rifiuti_differenziata': "quantita"})
raccolta

     anno                                               tipo  quantita
0    2016                                              Vetro    64.722
1    2016                                              Carta    58.966
2    2016                                            Cartone    20.534
3    2016                                              Umido   134.817
4    2016  Multimateriale Leggero (Imb. di plastica e Lat...    43.466
..    ...                                                ...       ...
127  2010                                            Metalli     1.480
128  2010                          Rifiuti Urbani Pericolosi   539.000
129  2010                                  Sfalci e Potature   433.000
130  2010                                         Pneumatici    23.000
132  2010            Altri rifiuti da raccolta differenziata   182.000

[128 rows x 3 columns]

**Ok, abbiamo preparato i dati**

## GRUPPI E ORDINAMENTI

**Calcolare la quantitÃ  media per ogni tipo di rifiuto**

In [27]:
r1=raccolta.groupby(['tipo'])[['quantita']].mean()
r1

                                                      quantita
tipo
Altri rifiuti da raccolta differenziata             198.463143
Carta                                                63.648429
Cartone                                              18.912714
Elettrodomestici RAEE - R1 (Freddo)                 505.428571
Elettrodomestici RAEE - R2 (Bianchi)                519.428571
Elettrodomestici RAEE - R3 (TV - Monitor)           469.342571
Elettrodomestici RAEE - R4 (Apparecchiature varie)    1.200714
Elettrodomestici RAEE - R5 (Sorgenti Luminose)       12.000000
Elettrodomestici totale                               3.334714
Ingombranti a recupero                               10.291500
Legno                                                 5.809714
Metalli                                               1.727000
Multimateriale Leggero (Imb. di plastica e Latt...   37.833429
Pneumatici                                           30.571429
Rifiuti Urbani Pericolosi                           597.010571
Sfalci e Potature                                   562.312286
Tessili - Indumenti                                   2.974429
Umido                                                81.540857
Vetro                                                63.713571

In [28]:
r1.columns

Index(['quantita'], dtype='object')

In [29]:
r1.index

Index(['Altri rifiuti da raccolta differenziata', 'Carta', 'Cartone',
       'Elettrodomestici RAEE - R1 (Freddo)',
       'Elettrodomestici RAEE - R2 (Bianchi)',
       'Elettrodomestici RAEE - R3 (TV - Monitor)',
       'Elettrodomestici RAEE - R4 (Apparecchiature varie)',
       'Elettrodomestici RAEE - R5 (Sorgenti Luminose)',
       'Elettrodomestici totale', 'Ingombranti a recupero', 'Legno', 'Metalli',
       'Multimateriale Leggero (Imb. di plastica e Lattine)', 'Pneumatici',
       'Rifiuti Urbani Pericolosi', 'Sfalci e Potature', 'Tessili - Indumenti',
       'Umido', 'Vetro'],
      dtype='object', name='tipo')

Ora tipo Ã¨ l'indice e possiamo fare selezioni usando la loc()

In [30]:
racc_tipo=raccolta.groupby(['tipo'])[['quantita']].mean()
racc_tipo.loc["Legno"]

quantita    5.809714
Name: Legno, dtype: float64

In [31]:
racc_tipo.loc["Legno":"Umido"]

                                                      quantita
tipo
Legno                                                 5.809714
Metalli                                               1.727000
Multimateriale Leggero (Imb. di plastica e Latt...   37.833429
Pneumatici                                           30.571429
Rifiuti Urbani Pericolosi                           597.010571
Sfalci e Potature                                   562.312286
Tessili - Indumenti                                   2.974429
Umido                                                81.540857

In [36]:
racc_tipo["tipo"]

KeyError: 'tipo'

In [33]:
r1=racc_tipo.reset_index()
r1

                                                 tipo    quantita
0             Altri rifiuti da raccolta differenziata  198.463143
1                                               Carta   63.648429
2                                             Cartone   18.912714
3                 Elettrodomestici RAEE - R1 (Freddo)  505.428571
4                Elettrodomestici RAEE - R2 (Bianchi)  519.428571
5           Elettrodomestici RAEE - R3 (TV - Monitor)  469.342571
6   Elettrodomestici RAEE - R4 (Apparecchiature va...    1.200714
7      Elettrodomestici RAEE - R5 (Sorgenti Luminose)   12.000000
8                             Elettrodomestici totale    3.334714
9                              Ingombranti a recupero   10.291500
10                                              Legno    5.809714
11                                            Metalli    1.727000
12  Multimateriale Leggero (Imb. di plastica e Lat...   37.833429
13                                         Pneumatici   30.571429
14                          Rifiuti Urbani Pericolosi  597.010571
15                                  Sfalci e Potature  562.312286
16                                Tessili - Indumenti    2.974429
17                                              Umido   81.540857
18                                              Vetro   63.713571

In [34]:
r1["tipo"]

0               Altri rifiuti da raccolta differenziata
1                                                 Carta
2                                               Cartone
3                   Elettrodomestici RAEE - R1 (Freddo)
4                  Elettrodomestici RAEE - R2 (Bianchi)
5             Elettrodomestici RAEE - R3 (TV - Monitor)
6     Elettrodomestici RAEE - R4 (Apparecchiature va...
7        Elettrodomestici RAEE - R5 (Sorgenti Luminose)
8                               Elettrodomestici totale
9                                Ingombranti a recupero
10                                                Legno
11                                              Metalli
12    Multimateriale Leggero (Imb. di plastica e Lat...
13                                           Pneumatici
14                            Rifiuti Urbani Pericolosi
15                                    Sfalci e Potature
16                                  Tessili - Indumenti
17                                                Umido
18                                                Vetro
Name: tipo, dtype: object

**Calcolare la media per anno e tipo poi ordinare rispetto all'anno**

In [38]:
raccolta.groupby(['tipo','anno']).mean()

                                              quantita
tipo                                    anno
Altri rifiuti da raccolta differenziata 2010   182.000
                                        2011   191.000
                                        2012   208.000
                                        2013   274.000
                                        2014   223.000
...                                                ...
Vetro                                   2012    63.076
                                        2013    62.373
                                        2014    63.166
                                        2015    65.298
                                        2016    64.722

[128 rows x 1 columns]

In [54]:
raccolta.groupby(['anno','tipo']).mean().sort_index(level='anno',ascending = False)

                                              quantita
anno tipo
2016 Vetro                                      64.722
     Umido                                     134.817
     Tessili - Indumenti                         2.015
     Sfalci e Potature                         892.000
     Rifiuti Urbani Pericolosi                   1.074
...                                                ...
2010 Elettrodomestici RAEE - R2 (Bianchi)      660.000
     Elettrodomestici RAEE - R1 (Freddo)       589.000
     Cartone                                    19.064
     Carta                                      67.712
     Altri rifiuti da raccolta differenziata   182.000

[128 rows x 1 columns]

In [39]:
raccolta.groupby(['anno','tipo']).mean().sort_index(level=0,ascending = False)

                                              quantita
anno tipo
2016 Vetro                                      64.722
     Umido                                     134.817
     Tessili - Indumenti                         2.015
     Sfalci e Potature                         892.000
     Rifiuti Urbani Pericolosi                   1.074
...                                                ...
2010 Elettrodomestici RAEE - R2 (Bianchi)      660.000
     Elettrodomestici RAEE - R1 (Freddo)       589.000
     Cartone                                    19.064
     Carta                                      67.712
     Altri rifiuti da raccolta differenziata   182.000

[128 rows x 1 columns]

**Ordinamento su piÃ¹ livelli dell'indice**

In [40]:
raccolta.groupby(['anno','tipo']).mean().sort_index(level='tipo',ascending = True)

                                              quantita
anno tipo
2010 Altri rifiuti da raccolta differenziata   182.000
2011 Altri rifiuti da raccolta differenziata   191.000
2012 Altri rifiuti da raccolta differenziata   208.000
2013 Altri rifiuti da raccolta differenziata   274.000
2014 Altri rifiuti da raccolta differenziata   223.000
...                                                ...
2012 Vetro                                      63.076
2013 Vetro                                      62.373
2014 Vetro                                      63.166
2015 Vetro                                      65.298
2016 Vetro                                      64.722

[128 rows x 1 columns]

In [56]:
raccolta.groupby(['anno','tipo']).mean().sort_index(level=1,ascending = True)

                                              quantita
anno tipo
2010 Altri rifiuti da raccolta differenziata   182.000
2011 Altri rifiuti da raccolta differenziata   191.000
2012 Altri rifiuti da raccolta differenziata   208.000
2013 Altri rifiuti da raccolta differenziata   274.000
2014 Altri rifiuti da raccolta differenziata   223.000
...                                                ...
2012 Vetro                                      63.076
2013 Vetro                                      62.373
2014 Vetro                                      63.166
2015 Vetro                                      65.298
2016 Vetro                                      64.722

[128 rows x 1 columns]

In [57]:
raccolta.groupby(['anno','tipo']).mean().sort_index(level=['anno','tipo'],ascending = [False, True])

                                              quantita
anno tipo
2016 Altri rifiuti da raccolta differenziata   310.000
     Carta                                      58.966
     Cartone                                    20.534
     Elettrodomestici RAEE - R1 (Freddo)       651.000
     Elettrodomestici RAEE - R2 (Bianchi)      718.000
...                                                ...
2010 Rifiuti Urbani Pericolosi                 539.000
     Sfalci e Potature                         433.000
     Tessili - Indumenti                         2.725
     Umido                                      34.567
     Vetro                                      63.580

[128 rows x 1 columns]

**Ordinamento sui valori delle colonne**

In [41]:
raccolta.groupby(['anno','tipo']).mean().sort_values(by=['quantita'], ascending=False)

                                                         quantita
anno tipo
2013 Elettrodomestici RAEE - R3 (TV - Monitor)            970.000
2014 Elettrodomestici RAEE - R3 (TV - Monitor)            921.000
2016 Sfalci e Potature                                    892.000
2015 Rifiuti Urbani Pericolosi                            872.000
2012 Rifiuti Urbani Pericolosi                            764.000
...                                                           ...
     Elettrodomestici RAEE - R4 (Apparecchiature varie)     1.163
2013 Elettrodomestici RAEE - R4 (Apparecchiature varie)     1.156
2011 Elettrodomestici RAEE - R4 (Apparecchiature varie)     1.143
2016 Rifiuti Urbani Pericolosi                              1.074
2010 Elettrodomestici RAEE - R4 (Apparecchiature varie)     1.065

[128 rows x 1 columns]

In [42]:
raccolta.groupby(['anno','tipo']).mean().sort_values(by=['quantita'], ascending=False, ignore_index=True)

     quantita
0     970.000
1     921.000
2     892.000
3     872.000
4     764.000
..        ...
123     1.163
124     1.156
125     1.143
126     1.074
127     1.065

[128 rows x 1 columns]

**Stack e Unstack**

In [44]:
racc_gr=raccolta.groupby(['anno','tipo']).mean()
racc_gr

                                              quantita
anno tipo
2010 Altri rifiuti da raccolta differenziata   182.000
     Carta                                      67.712
     Cartone                                    19.064
     Elettrodomestici RAEE - R1 (Freddo)       589.000
     Elettrodomestici RAEE - R2 (Bianchi)      660.000
...                                                ...
2016 Rifiuti Urbani Pericolosi                   1.074
     Sfalci e Potature                         892.000
     Tessili - Indumenti                         2.015
     Umido                                     134.817
     Vetro                                      64.722

[128 rows x 1 columns]

In [66]:
racc1=raccolta.groupby('anno').mean()
racc1

        quantita
anno
2010  148.215500
2011  137.923500
2012  156.055111
2013  208.912611
2014  219.699333
2015  156.034526
2016  189.904579

In [71]:
racc2=racc1.stack()
racc2

anno
2010  quantita    148.215500
2011  quantita    137.923500
2012  quantita    156.055111
2013  quantita    208.912611
2014  quantita    219.699333
2015  quantita    156.034526
2016  quantita    189.904579
dtype: float64

In [45]:
racc_un=racc_gr.unstack(level='anno')
racc_un

                                                   quantita                    \
anno                                                   2010     2011     2012
tipo
Altri rifiuti da raccolta differenziata             182.000  191.000  208.000
Carta                                                67.712   64.959   64.599
Cartone                                              19.064   17.890   17.303
Elettrodomestici RAEE - R1 (Freddo)                 589.000  553.000  475.000
Elettrodomestici RAEE - R2 (Bianchi)                660.000  460.000  329.000
Elettrodomestici RAEE - R3 (TV - Monitor)             1.657    1.528    1.213
Elettrodomestici RAEE - R4 (Apparecchiature varie)    1.065    1.143    1.163
Elettrodomestici RAEE - R5 (Sorgenti Luminose)        9.000   10.000   13.000
Elettrodomestici totale                               3.981    3.694    3.193
Ingombranti a recupero                                  NaN      NaN      NaN
Legno                                                 5.850    5.829    5.649
Metalli                                               1.480    1.634    1.669
Multimateriale Leggero (Imb. di plastica e Latt...   31.198   31.347   34.829
Pneumatici                                           23.000   57.000   30.000
Rifiuti Urbani Pericolosi                           539.000  588.000  764.000
Sfalci e Potature                                   433.000  393.000  753.000
Tessili - Indumenti                                   2.725    2.761    3.515
Umido                                                34.567   36.058   40.783
Vetro                                                63.580   63.780   63.076

                                                                               \
anno                                                   2013     2014     2015
tipo
Altri rifiuti da raccolta differenziata             274.000  223.000    1.242
Carta                                                64.772   63.723   60.808
Cartone                                              17.927   19.379   20.292
Elettrodomestici RAEE - R1 (Freddo)                 405.000  461.000  404.000
Elettrodomestici RAEE - R2 (Bianchi)                424.000  513.000  532.000
Elettrodomestici RAEE - R3 (TV - Monitor)           970.000  921.000  758.000
Elettrodomestici RAEE - R4 (Apparecchiature varie)    1.156    1.217    1.270
Elettrodomestici RAEE - R5 (Sorgenti Luminose)       13.000   13.000   13.000
Elettrodomestici totale                               2.968    3.125    2.977
Ingombranti a recupero                                  NaN      NaN   10.620
Legno                                                 5.401    6.046    6.031
Metalli                                               1.650    1.838    1.846
Multimateriale Leggero (Imb. di plastica e Latt...   39.206   41.589   43.199
Pneumatici                                            8.000   19.000   33.000
Rifiuti Urbani Pericolosi                           668.000  747.000  872.000
Sfalci e Potature                                   728.000  736.000    1.186
Tessili - Indumenti                                   3.237    3.317    3.251
Umido                                                71.737  118.188  134.636
Vetro                                                62.373   63.166   65.298


anno                                                   2016
tipo
Altri rifiuti da raccolta differenziata             310.000
Carta                                                58.966
Cartone                                              20.534
Elettrodomestici RAEE - R1 (Freddo)                 651.000
Elettrodomestici RAEE - R2 (Bianchi)                718.000
Elettrodomestici RAEE - R3 (TV - Monitor)           632.000
Elettrodomestici RAEE - R4 (Apparecchiature varie)    1.391
Elettrodomestici RAEE - R5 (Sorgenti Luminose)       13.000
Elettrodomestici totale                               3.405
Ingombranti a recupero                                9.963
Legno                                                 5.862
Metalli                                               1.972
Multimateriale Leggero (Imb. di plastica e Latt...   43.466
Pneumatici                                           44.000
Rifiuti Urbani Pericolosi                             1.074
Sfalci e Potature                                   892.000
Tessili - Indumenti                                   2.015
Umido                                               134.817
Vetro                                                64.722

In [46]:
print("COLONNE\n",racc_un.columns, "\n\nINDICE\n", racc_un.index)

COLONNE
 MultiIndex([('quantita', 2010),
            ('quantita', 2011),
            ('quantita', 2012),
            ('quantita', 2013),
            ('quantita', 2014),
            ('quantita', 2015),
            ('quantita', 2016)],
           names=[None, 'anno'])

INDICE
 Index(['Altri rifiuti da raccolta differenziata', 'Carta', 'Cartone',
       'Elettrodomestici RAEE - R1 (Freddo)',
       'Elettrodomestici RAEE - R2 (Bianchi)',
       'Elettrodomestici RAEE - R3 (TV - Monitor)',
       'Elettrodomestici RAEE - R4 (Apparecchiature varie)',
       'Elettrodomestici RAEE - R5 (Sorgenti Luminose)',
       'Elettrodomestici totale', 'Ingombranti a recupero', 'Legno', 'Metalli',
       'Multimateriale Leggero (Imb. di plastica e Lattine)', 'Pneumatici',
       'Rifiuti Urbani Pericolosi', 'Sfalci e Potature', 'Tessili - Indumenti',
       'Umido', 'Vetro'],
      dtype='object', name='tipo')

In [49]:
racc_un['quantita',2010]

tipo
Altri rifiuti da raccolta differenziata                182.000
Carta                                                   67.712
Cartone                                                 19.064
Elettrodomestici RAEE - R1 (Freddo)                    589.000
Elettrodomestici RAEE - R2 (Bianchi)                   660.000
Elettrodomestici RAEE - R3 (TV - Monitor)                1.657
Elettrodomestici RAEE - R4 (Apparecchiature varie)       1.065
Elettrodomestici RAEE - R5 (Sorgenti Luminose)           9.000
Elettrodomestici totale                                  3.981
Ingombranti a recupero                                     NaN
Legno                                                    5.850
Metalli                                                  1.480
Multimateriale Leggero (Imb. di plastica e Lattine)     31.198
Pneumatici                                              23.000
Rifiuti Urbani Pericolosi                              539.000
Sfalci e Potature                                      433.000
Tessili - Indumenti                                      2.725
Umido                                                   34.567
Vetro                                                   63.580
Name: (quantita, 2010), dtype: float64

In [50]:
racc_un.loc["Legno":"Umido"]

                                                   quantita                    \
anno                                                   2010     2011     2012
tipo
Legno                                                 5.850    5.829    5.649
Metalli                                               1.480    1.634    1.669
Multimateriale Leggero (Imb. di plastica e Latt...   31.198   31.347   34.829
Pneumatici                                           23.000   57.000   30.000
Rifiuti Urbani Pericolosi                           539.000  588.000  764.000
Sfalci e Potature                                   433.000  393.000  753.000
Tessili - Indumenti                                   2.725    2.761    3.515
Umido                                                34.567   36.058   40.783

                                                                               \
anno                                                   2013     2014     2015
tipo
Legno                                                 5.401    6.046    6.031
Metalli                                               1.650    1.838    1.846
Multimateriale Leggero (Imb. di plastica e Latt...   39.206   41.589   43.199
Pneumatici                                            8.000   19.000   33.000
Rifiuti Urbani Pericolosi                           668.000  747.000  872.000
Sfalci e Potature                                   728.000  736.000    1.186
Tessili - Indumenti                                   3.237    3.317    3.251
Umido                                                71.737  118.188  134.636


anno                                                   2016
tipo
Legno                                                 5.862
Metalli                                               1.972
Multimateriale Leggero (Imb. di plastica e Latt...   43.466
Pneumatici                                           44.000
Rifiuti Urbani Pericolosi                             1.074
Sfalci e Potature                                   892.000
Tessili - Indumenti                                   2.015
Umido                                               134.817

In [51]:
racc_un2=racc_gr.unstack(level='tipo')
racc_un2

                                    quantita                  \
tipo Altri rifiuti da raccolta differenziata   Carta Cartone
anno
2010                                 182.000  67.712  19.064
2011                                 191.000  64.959  17.890
2012                                 208.000  64.599  17.303
2013                                 274.000  64.772  17.927
2014                                 223.000  63.723  19.379
2015                                   1.242  60.808  20.292
2016                                 310.000  58.966  20.534

                                                                               \
tipo Elettrodomestici RAEE - R1 (Freddo) Elettrodomestici RAEE - R2 (Bianchi)
anno
2010                               589.0                                660.0
2011                               553.0                                460.0
2012                               475.0                                329.0
2013                               405.0                                424.0
2014                               461.0                                513.0
2015                               404.0                                532.0
2016                               651.0                                718.0

                                                \
tipo Elettrodomestici RAEE - R3 (TV - Monitor)
anno
2010                                     1.657
2011                                     1.528
2012                                     1.213
2013                                   970.000
2014                                   921.000
2015                                   758.000
2016                                   632.000

                                                         \
tipo Elettrodomestici RAEE - R4 (Apparecchiature varie)
anno
2010                                              1.065
2011                                              1.143
2012                                              1.163
2013                                              1.156
2014                                              1.217
2015                                              1.270
2016                                              1.391

                                                                             \
tipo Elettrodomestici RAEE - R5 (Sorgenti Luminose) Elettrodomestici totale
anno
2010                                            9.0                   3.981
2011                                           10.0                   3.694
2012                                           13.0                   3.193
2013                                           13.0                   2.968
2014                                           13.0                   3.125
2015                                           13.0                   2.977
2016                                           13.0                   3.405

                                            \
tipo Ingombranti a recupero  Legno Metalli
anno
2010                    NaN  5.850   1.480
2011                    NaN  5.829   1.634
2012                    NaN  5.649   1.669
2013                    NaN  5.401   1.650
2014                    NaN  6.046   1.838
2015                 10.620  6.031   1.846
2016                  9.963  5.862   1.972

                                                                     \
tipo Multimateriale Leggero (Imb. di plastica e Lattine) Pneumatici
anno
2010                                             31.198        23.0
2011                                             31.347        57.0
2012                                             34.829        30.0
2013                                             39.206         8.0
2014                                             41.589        19.0
2015                                             43.199        33.0
2016                                             43.466        44.0

                                                                               \
tipo Rifiuti Urbani Pericolosi Sfalci e Potature Tessili - Indumenti    Umido
anno
2010                   539.000           433.000               2.725   34.567
2011                   588.000           393.000               2.761   36.058
2012                   764.000           753.000               3.515   40.783
2013                   668.000           728.000               3.237   71.737
2014                   747.000           736.000               3.317  118.188
2015                   872.000             1.186               3.251  134.636
2016                     1.074           892.000               2.015  134.817


tipo   Vetro
anno
2010  63.580
2011  63.780
2012  63.076
2013  62.373
2014  63.166
2015  65.298
2016  64.722

In [118]:
print("COLONNE\n",racc_un2.columns, "\n\nINDICE\n", racc_un2.index)

COLONNE
 MultiIndex([('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...),
            ('quantita', ...)],
           names=[None, 'tipo'])

INDICE
 Int64Index([2010, 2011, 2012, 2013, 2014, 2015, 2016], dtype='int64', name='anno')

In [119]:
racc_un2.loc[2012:2015]

                                    quantita                  \
tipo Altri rifiuti da raccolta differenziata   Carta Cartone
anno
2012                                 208.000  64.599  17.303
2013                                 274.000  64.772  17.927
2014                                 223.000  63.723  19.379
2015                                   1.242  60.808  20.292

                                                                               \
tipo Elettrodomestici RAEE - R1 (Freddo) Elettrodomestici RAEE - R2 (Bianchi)
anno
2012                               475.0                                329.0
2013                               405.0                                424.0
2014                               461.0                                513.0
2015                               404.0                                532.0

                                                \
tipo Elettrodomestici RAEE - R3 (TV - Monitor)
anno
2012                                     1.213
2013                                   970.000
2014                                   921.000
2015                                   758.000

                                                         \
tipo Elettrodomestici RAEE - R4 (Apparecchiature varie)
anno
2012                                              1.163
2013                                              1.156
2014                                              1.217
2015                                              1.270

                                                                             \
tipo Elettrodomestici RAEE - R5 (Sorgenti Luminose) Elettrodomestici totale
anno
2012                                           13.0                   3.193
2013                                           13.0                   2.968
2014                                           13.0                   3.125
2015                                           13.0                   2.977

                                            \
tipo Ingombranti a recupero  Legno Metalli
anno
2012                    NaN  5.649   1.669
2013                    NaN  5.401   1.650
2014                    NaN  6.046   1.838
2015                  10.62  6.031   1.846

                                                                     \
tipo Multimateriale Leggero (Imb. di plastica e Lattine) Pneumatici
anno
2012                                             34.829        30.0
2013                                             39.206         8.0
2014                                             41.589        19.0
2015                                             43.199        33.0

                                                                               \
tipo Rifiuti Urbani Pericolosi Sfalci e Potature Tessili - Indumenti    Umido
anno
2012                     764.0           753.000               3.515   40.783
2013                     668.0           728.000               3.237   71.737
2014                     747.0           736.000               3.317  118.188
2015                     872.0             1.186               3.251  134.636


tipo   Vetro
anno
2012  63.076
2013  62.373
2014  63.166
2015  65.298

In [121]:
racc_un2['quantita','Carta']

anno
2010    67.712
2011    64.959
2012    64.599
2013    64.772
2014    63.723
2015    60.808
2016    58.966
Name: (quantita, Carta), dtype: float64

In [125]:
racc_un2.stack(level='tipo')

                                              quantita
anno tipo
2010 Altri rifiuti da raccolta differenziata   182.000
     Carta                                      67.712
     Cartone                                    19.064
     Elettrodomestici RAEE - R1 (Freddo)       589.000
     Elettrodomestici RAEE - R2 (Bianchi)      660.000
...                                                ...
2016 Rifiuti Urbani Pericolosi                   1.074
     Sfalci e Potature                         892.000
     Tessili - Indumenti                         2.015
     Umido                                     134.817
     Vetro                                      64.722

[128 rows x 1 columns]

In [127]:
racc_un.stack('anno')

                                              quantita
tipo                                    anno
Altri rifiuti da raccolta differenziata 2010   182.000
                                        2011   191.000
                                        2012   208.000
                                        2013   274.000
                                        2014   223.000
...                                                ...
Vetro                                   2012    63.076
                                        2013    62.373
                                        2014    63.166
                                        2015    65.298
                                        2016    64.722

[128 rows x 1 columns]

**RESET INDEX**

In [130]:
racc_un

                                                   quantita                    \
anno                                                   2010     2011     2012
tipo
Altri rifiuti da raccolta differenziata             182.000  191.000  208.000
Carta                                                67.712   64.959   64.599
Cartone                                              19.064   17.890   17.303
Elettrodomestici RAEE - R1 (Freddo)                 589.000  553.000  475.000
Elettrodomestici RAEE - R2 (Bianchi)                660.000  460.000  329.000
Elettrodomestici RAEE - R3 (TV - Monitor)             1.657    1.528    1.213
Elettrodomestici RAEE - R4 (Apparecchiature varie)    1.065    1.143    1.163
Elettrodomestici RAEE - R5 (Sorgenti Luminose)        9.000   10.000   13.000
Elettrodomestici totale                               3.981    3.694    3.193
Ingombranti a recupero                                  NaN      NaN      NaN
Legno                                                 5.850    5.829    5.649
Metalli                                               1.480    1.634    1.669
Multimateriale Leggero (Imb. di plastica e Latt...   31.198   31.347   34.829
Pneumatici                                           23.000   57.000   30.000
Rifiuti Urbani Pericolosi                           539.000  588.000  764.000
Sfalci e Potature                                   433.000  393.000  753.000
Tessili - Indumenti                                   2.725    2.761    3.515
Umido                                                34.567   36.058   40.783
Vetro                                                63.580   63.780   63.076

                                                                               \
anno                                                   2013     2014     2015
tipo
Altri rifiuti da raccolta differenziata             274.000  223.000    1.242
Carta                                                64.772   63.723   60.808
Cartone                                              17.927   19.379   20.292
Elettrodomestici RAEE - R1 (Freddo)                 405.000  461.000  404.000
Elettrodomestici RAEE - R2 (Bianchi)                424.000  513.000  532.000
Elettrodomestici RAEE - R3 (TV - Monitor)           970.000  921.000  758.000
Elettrodomestici RAEE - R4 (Apparecchiature varie)    1.156    1.217    1.270
Elettrodomestici RAEE - R5 (Sorgenti Luminose)       13.000   13.000   13.000
Elettrodomestici totale                               2.968    3.125    2.977
Ingombranti a recupero                                  NaN      NaN   10.620
Legno                                                 5.401    6.046    6.031
Metalli                                               1.650    1.838    1.846
Multimateriale Leggero (Imb. di plastica e Latt...   39.206   41.589   43.199
Pneumatici                                            8.000   19.000   33.000
Rifiuti Urbani Pericolosi                           668.000  747.000  872.000
Sfalci e Potature                                   728.000  736.000    1.186
Tessili - Indumenti                                   3.237    3.317    3.251
Umido                                                71.737  118.188  134.636
Vetro                                                62.373   63.166   65.298


anno                                                   2016
tipo
Altri rifiuti da raccolta differenziata             310.000
Carta                                                58.966
Cartone                                              20.534
Elettrodomestici RAEE - R1 (Freddo)                 651.000
Elettrodomestici RAEE - R2 (Bianchi)                718.000
Elettrodomestici RAEE - R3 (TV - Monitor)           632.000
Elettrodomestici RAEE - R4 (Apparecchiature varie)    1.391
Elettrodomestici RAEE - R5 (Sorgenti Luminose)       13.000
Elettrodomestici totale                               3.405
Ingombranti a recupero                                9.963
Legno                                                 5.862
Metalli                                               1.972
Multimateriale Leggero (Imb. di plastica e Latt...   43.466
Pneumatici                                           44.000
Rifiuti Urbani Pericolosi                             1.074
Sfalci e Potature                                   892.000
Tessili - Indumenti                                   2.015
Umido                                               134.817
Vetro                                                64.722

In [132]:
print("COLONNE\n",racc_un.columns, "\n\nINDICE\n", racc_un.index)

COLONNE
 MultiIndex([('quantita', 2010),
            ('quantita', 2011),
            ('quantita', 2012),
            ('quantita', 2013),
            ('quantita', 2014),
            ('quantita', 2015),
            ('quantita', 2016)],
           names=[None, 'anno'])

INDICE
 Index(['Altri rifiuti da raccolta differenziata', 'Carta', 'Cartone',
       'Elettrodomestici RAEE - R1 (Freddo)',
       'Elettrodomestici RAEE - R2 (Bianchi)',
       'Elettrodomestici RAEE - R3 (TV - Monitor)',
       'Elettrodomestici RAEE - R4 (Apparecchiature varie)',
       'Elettrodomestici RAEE - R5 (Sorgenti Luminose)',
       'Elettrodomestici totale', 'Ingombranti a recupero', 'Legno', 'Metalli',
       'Multimateriale Leggero (Imb. di plastica e Lattine)', 'Pneumatici',
       'Rifiuti Urbani Pericolosi', 'Sfalci e Potature', 'Tessili - Indumenti',
       'Umido', 'Vetro'],
      dtype='object', name='tipo')

In [133]:
racc_un3=racc_un.reset_index()
racc_un3

                                                   tipo quantita           \
anno                                                        2010     2011
0               Altri rifiuti da raccolta differenziata  182.000  191.000
1                                                 Carta   67.712   64.959
2                                               Cartone   19.064   17.890
3                   Elettrodomestici RAEE - R1 (Freddo)  589.000  553.000
4                  Elettrodomestici RAEE - R2 (Bianchi)  660.000  460.000
5             Elettrodomestici RAEE - R3 (TV - Monitor)    1.657    1.528
6     Elettrodomestici RAEE - R4 (Apparecchiature va...    1.065    1.143
7        Elettrodomestici RAEE - R5 (Sorgenti Luminose)    9.000   10.000
8                               Elettrodomestici totale    3.981    3.694
9                                Ingombranti a recupero      NaN      NaN
10                                                Legno    5.850    5.829
11                                              Metalli    1.480    1.634
12    Multimateriale Leggero (Imb. di plastica e Lat...   31.198   31.347
13                                           Pneumatici   23.000   57.000
14                            Rifiuti Urbani Pericolosi  539.000  588.000
15                                    Sfalci e Potature  433.000  393.000
16                                  Tessili - Indumenti    2.725    2.761
17                                                Umido   34.567   36.058
18                                                Vetro   63.580   63.780


anno     2012     2013     2014     2015     2016
0     208.000  274.000  223.000    1.242  310.000
1      64.599   64.772   63.723   60.808   58.966
2      17.303   17.927   19.379   20.292   20.534
3     475.000  405.000  461.000  404.000  651.000
4     329.000  424.000  513.000  532.000  718.000
5       1.213  970.000  921.000  758.000  632.000
6       1.163    1.156    1.217    1.270    1.391
7      13.000   13.000   13.000   13.000   13.000
8       3.193    2.968    3.125    2.977    3.405
9         NaN      NaN      NaN   10.620    9.963
10      5.649    5.401    6.046    6.031    5.862
11      1.669    1.650    1.838    1.846    1.972
12     34.829   39.206   41.589   43.199   43.466
13     30.000    8.000   19.000   33.000   44.000
14    764.000  668.000  747.000  872.000    1.074
15    753.000  728.000  736.000    1.186  892.000
16      3.515    3.237    3.317    3.251    2.015
17     40.783   71.737  118.188  134.636  134.817
18     63.076   62.373   63.166   65.298   64.722

In [134]:
print("COLONNE\n",racc_un3.columns, "\n\nINDICE\n", racc_un3.index)

COLONNE
 MultiIndex([(    'tipo',   ''),
            ('quantita', 2010),
            ('quantita', 2011),
            ('quantita', 2012),
            ('quantita', 2013),
            ('quantita', 2014),
            ('quantita', 2015),
            ('quantita', 2016)],
           names=[None, 'anno'])

INDICE
 RangeIndex(start=0, stop=19, step=1)

In [135]:
racc_un3['tipo']

0               Altri rifiuti da raccolta differenziata
1                                                 Carta
2                                               Cartone
3                   Elettrodomestici RAEE - R1 (Freddo)
4                  Elettrodomestici RAEE - R2 (Bianchi)
5             Elettrodomestici RAEE - R3 (TV - Monitor)
6     Elettrodomestici RAEE - R4 (Apparecchiature va...
7        Elettrodomestici RAEE - R5 (Sorgenti Luminose)
8                               Elettrodomestici totale
9                                Ingombranti a recupero
10                                                Legno
11                                              Metalli
12    Multimateriale Leggero (Imb. di plastica e Lat...
13                                           Pneumatici
14                            Rifiuti Urbani Pericolosi
15                                    Sfalci e Potature
16                                  Tessili - Indumenti
17                                                Umido
18                                                Vetro
Name: tipo, dtype: object

In [137]:
racc_un3['quantita',2014]

0     223.000
1      63.723
2      19.379
3     461.000
4     513.000
5     921.000
6       1.217
7      13.000
8       3.125
9         NaN
10      6.046
11      1.838
12     41.589
13     19.000
14    747.000
15    736.000
16      3.317
17    118.188
18     63.166
Name: (quantita, 2014), dtype: float64

In [53]:
racc_gr

                                              quantita
anno tipo
2010 Altri rifiuti da raccolta differenziata   182.000
     Carta                                      67.712
     Cartone                                    19.064
     Elettrodomestici RAEE - R1 (Freddo)       589.000
     Elettrodomestici RAEE - R2 (Bianchi)      660.000
...                                                ...
2016 Rifiuti Urbani Pericolosi                   1.074
     Sfalci e Potature                         892.000
     Tessili - Indumenti                         2.015
     Umido                                     134.817
     Vetro                                      64.722

[128 rows x 1 columns]

In [149]:
print("COLONNE\n",racc_gr.columns, "\n\nINDICE\n", racc_gr.index)

COLONNE
 Index(['quantita'], dtype='object')

INDICE
 MultiIndex([(2010,             'Altri rifiuti da raccolta differenziata'),
            (2010,                                               'Carta'),
            (2010,                                             'Cartone'),
            (2010,                 'Elettrodomestici RAEE - R1 (Freddo)'),
            (2010,                'Elettrodomestici RAEE - R2 (Bianchi)'),
            (2010,           'Elettrodomestici RAEE - R3 (TV - Monitor)'),
            (2010,  'Elettrodomestici RAEE - R4 (Apparecchiature varie)'),
            (2010,      'Elettrodomestici RAEE - R5 (Sorgenti Luminose)'),
            (2010,                             'Elettrodomestici totale'),
            (2010,                                               'Legno'),
            ...
            (2016,                              'Ingombranti a recupero'),
            (2016,                                               'Legno'),
            (2016,                                             'Metalli'),
            (2016, 'Multimateriale Leggero (Imb. di plastica e Lattine)'),
            (2016,                                          'Pneumatici'),
            (2016,                           'Rifiuti Urbani Pericolosi'),
            (2016,                                   'Sfalci e Potature'),
            (2016,                                 'Tessili - Indumenti'),
            (2016,                                               'Umido'),
            (2016,                                               'Vetro')],
           names=['anno', 'tipo'], length=128)

In [54]:
racc_gr2=racc_gr.reset_index()
racc_gr2

     anno                                     tipo  quantita
0    2010  Altri rifiuti da raccolta differenziata   182.000
1    2010                                    Carta    67.712
2    2010                                  Cartone    19.064
3    2010      Elettrodomestici RAEE - R1 (Freddo)   589.000
4    2010     Elettrodomestici RAEE - R2 (Bianchi)   660.000
..    ...                                      ...       ...
123  2016                Rifiuti Urbani Pericolosi     1.074
124  2016                        Sfalci e Potature   892.000
125  2016                      Tessili - Indumenti     2.015
126  2016                                    Umido   134.817
127  2016                                    Vetro    64.722

[128 rows x 3 columns]

In [152]:
print("COLONNE\n",racc_gr2.columns, "\n\nINDICE\n", racc_gr2.index)

COLONNE
 Index(['anno', 'tipo', 'quantita'], dtype='object')

INDICE
 RangeIndex(start=0, stop=128, step=1)

In [153]:
racc_gr3=racc_gr.reset_index(level='anno')
racc_gr3

                                         anno  quantita
tipo
Altri rifiuti da raccolta differenziata  2010   182.000
Carta                                    2010    67.712
Cartone                                  2010    19.064
Elettrodomestici RAEE - R1 (Freddo)      2010   589.000
Elettrodomestici RAEE - R2 (Bianchi)     2010   660.000
...                                       ...       ...
Rifiuti Urbani Pericolosi                2016     1.074
Sfalci e Potature                        2016   892.000
Tessili - Indumenti                      2016     2.015
Umido                                    2016   134.817
Vetro                                    2016    64.722

[128 rows x 2 columns]

In [154]:
racc_gr4=racc_gr.reset_index(level='tipo')
racc_gr4

                                         tipo  quantita
anno
2010  Altri rifiuti da raccolta differenziata   182.000
2010                                    Carta    67.712
2010                                  Cartone    19.064
2010      Elettrodomestici RAEE - R1 (Freddo)   589.000
2010     Elettrodomestici RAEE - R2 (Bianchi)   660.000
...                                       ...       ...
2016                Rifiuti Urbani Pericolosi     1.074
2016                        Sfalci e Potature   892.000
2016                      Tessili - Indumenti     2.015
2016                                    Umido   134.817
2016                                    Vetro    64.722

[128 rows x 2 columns]

**PIVOT**

In [55]:
raccolta

     anno                                               tipo  quantita
0    2016                                              Vetro    64.722
1    2016                                              Carta    58.966
2    2016                                            Cartone    20.534
3    2016                                              Umido   134.817
4    2016  Multimateriale Leggero (Imb. di plastica e Lat...    43.466
..    ...                                                ...       ...
127  2010                                            Metalli     1.480
128  2010                          Rifiuti Urbani Pericolosi   539.000
129  2010                                  Sfalci e Potature   433.000
130  2010                                         Pneumatici    23.000
132  2010            Altri rifiuti da raccolta differenziata   182.000

[128 rows x 3 columns]

In [56]:
raccolta2=raccolta.pivot(index='tipo', columns='anno', values='quantita')
raccolta2

anno,2010,2011,2012,2013,2014,2015,2016
tipo,,,,,,,
Altri rifiuti da raccolta differenziata,182.000,191.000,208.000,274.000,223.000,1.242,310.000
Carta,67.712,64.959,64.599,64.772,63.723,60.808,58.966
Cartone,19.064,17.890,17.303,17.927,19.379,20.292,20.534
Elettrodomestici RAEE - R1 (Freddo),589.000,553.000,475.000,405.000,461.000,404.000,651.000
Elettrodomestici RAEE - R2 (Bianchi),660.000,460.000,329.000,424.000,513.000,532.000,718.000
Elettrodomestici RAEE - R3 (TV - Monitor),1.657,1.528,1.213,970.000,921.000,758.000,632.000
Elettrodomestici RAEE - R4 (Apparecchiature varie),1.065,1.143,1.163,1.156,1.217,1.270,1.391
Elettrodomestici RAEE - R5 (Sorgenti Luminose),9.000,10.000,13.000,13.000,13.000,13.000,13.000
Elettrodomestici totale,3.981,3.694,3.193,2.968,3.125,2.977,3.405
Ingombranti a recupero,NaN,NaN,NaN,NaN,NaN,10.620,9.963
Legno,5.850,5.829,5.649,5.401,6.046,6.031,5.862
Metalli,1.480,1.634,1.669,1.650,1.838,1.846,1.972
Multimateriale Leggero (Imb. di plastica e Lattine),31.198,31.347,34.829,39.206,41.589,43.199,43.466
Pneumatici,23.000,57.000,30.000,8.000,19.000,33.000,44.000
Rifiuti Urbani Pericolosi,539.000,588.000,764.000,668.000,747.000,872.000,1.074
Sfalci e Potature,433.000,393.000,753.000,728.000,736.000,1.186,892.000
Tessili - Indumenti,2.725,2.761,3.515,3.237,3.317,3.251,2.015
Umido,34.567,36.058,40.783,71.737,118.188,134.636,134.817
Vetro,63.580,63.780,63.076,62.373,63.166,65.298,64.722

In [57]:
print("COLONNE\n",raccolta2.columns, "\n\nINDICE\n", raccolta2.index)

COLONNE
 Int64Index([2010, 2011, 2012, 2013, 2014, 2015, 2016], dtype='int64', name='anno')

INDICE
 Index(['Altri rifiuti da raccolta differenziata', 'Carta', 'Cartone',
       'Elettrodomestici RAEE - R1 (Freddo)',
       'Elettrodomestici RAEE - R2 (Bianchi)',
       'Elettrodomestici RAEE - R3 (TV - Monitor)',
       'Elettrodomestici RAEE - R4 (Apparecchiature varie)',
       'Elettrodomestici RAEE - R5 (Sorgenti Luminose)',
       'Elettrodomestici totale', 'Ingombranti a recupero', 'Legno', 'Metalli',
       'Multimateriale Leggero (Imb. di plastica e Lattine)', 'Pneumatici',
       'Rifiuti Urbani Pericolosi', 'Sfalci e Potature', 'Tessili - Indumenti',
       'Umido', 'Vetro'],
      dtype='object', name='tipo')

In [58]:
raccolta2[2015]

tipo
Altri rifiuti da raccolta differenziata                  1.242
Carta                                                   60.808
Cartone                                                 20.292
Elettrodomestici RAEE - R1 (Freddo)                    404.000
Elettrodomestici RAEE - R2 (Bianchi)                   532.000
Elettrodomestici RAEE - R3 (TV - Monitor)              758.000
Elettrodomestici RAEE - R4 (Apparecchiature varie)       1.270
Elettrodomestici RAEE - R5 (Sorgenti Luminose)          13.000
Elettrodomestici totale                                  2.977
Ingombranti a recupero                                  10.620
Legno                                                    6.031
Metalli                                                  1.846
Multimateriale Leggero (Imb. di plastica e Lattine)     43.199
Pneumatici                                              33.000
Rifiuti Urbani Pericolosi                              872.000
Sfalci e Potature                                        1.186
Tessili - Indumenti                                      3.251
Umido                                                  134.636
Vetro                                                   65.298
Name: 2015, dtype: float64

In [161]:
raccolta2.loc['Legno']

anno
2010    5.850
2011    5.829
2012    5.649
2013    5.401
2014    6.046
2015    6.031
2016    5.862
Name: Legno, dtype: float64

In [165]:
raccolta3=raccolta.pivot(index='anno', columns='tipo', values='quantita')
raccolta3

tipo,Altri rifiuti da raccolta differenziata,Carta,Cartone,Elettrodomestici RAEE - R1 (Freddo),Elettrodomestici RAEE - R2 (Bianchi),Elettrodomestici RAEE - R3 (TV - Monitor),Elettrodomestici RAEE - R4 (Apparecchiature varie),Elettrodomestici RAEE - R5 (Sorgenti Luminose),Elettrodomestici totale,Ingombranti a recupero,Legno,Metalli,Multimateriale Leggero (Imb. di plastica e Lattine),Pneumatici,Rifiuti Urbani Pericolosi,Sfalci e Potature,Tessili - Indumenti,Umido,Vetro
anno,,,,,,,,,,,,,,,,,,,
2010,182.000,67.712,19.064,589.0,660.0,1.657,1.065,9.0,3.981,NaN,5.850,1.480,31.198,23.0,539.000,433.000,2.725,34.567,63.580
2011,191.000,64.959,17.890,553.0,460.0,1.528,1.143,10.0,3.694,NaN,5.829,1.634,31.347,57.0,588.000,393.000,2.761,36.058,63.780
2012,208.000,64.599,17.303,475.0,329.0,1.213,1.163,13.0,3.193,NaN,5.649,1.669,34.829,30.0,764.000,753.000,3.515,40.783,63.076
2013,274.000,64.772,17.927,405.0,424.0,970.000,1.156,13.0,2.968,NaN,5.401,1.650,39.206,8.0,668.000,728.000,3.237,71.737,62.373
2014,223.000,63.723,19.379,461.0,513.0,921.000,1.217,13.0,3.125,NaN,6.046,1.838,41.589,19.0,747.000,736.000,3.317,118.188,63.166
2015,1.242,60.808,20.292,404.0,532.0,758.000,1.270,13.0,2.977,10.620,6.031,1.846,43.199,33.0,872.000,1.186,3.251,134.636,65.298
2016,310.000,58.966,20.534,651.0,718.0,632.000,1.391,13.0,3.405,9.963,5.862,1.972,43.466,44.0,1.074,892.000,2.015,134.817,64.722

**MELT**

In [171]:
raccolta4=raccolta2.reset_index()
raccolta4

anno,tipo,2010,2011,2012,2013,2014,2015,2016
0,Altri rifiuti da raccolta differenziata,182.000,191.000,208.000,274.000,223.000,1.242,310.000
1,Carta,67.712,64.959,64.599,64.772,63.723,60.808,58.966
2,Cartone,19.064,17.890,17.303,17.927,19.379,20.292,20.534
3,Elettrodomestici RAEE - R1 (Freddo),589.000,553.000,475.000,405.000,461.000,404.000,651.000
4,Elettrodomestici RAEE - R2 (Bianchi),660.000,460.000,329.000,424.000,513.000,532.000,718.000
5,Elettrodomestici RAEE - R3 (TV - Monitor),1.657,1.528,1.213,970.000,921.000,758.000,632.000
6,Elettrodomestici RAEE - R4 (Apparecchiature va...,1.065,1.143,1.163,1.156,1.217,1.270,1.391
7,Elettrodomestici RAEE - R5 (Sorgenti Luminose),9.000,10.000,13.000,13.000,13.000,13.000,13.000
8,Elettrodomestici totale,3.981,3.694,3.193,2.968,3.125,2.977,3.405
9,Ingombranti a recupero,NaN,NaN,NaN,NaN,NaN,10.620,9.963
10,Legno,5.850,5.829,5.649,5.401,6.046,6.031,5.862
11,Metalli,1.480,1.634,1.669,1.650,1.838,1.846,1.972
12,Multimateriale Leggero (Imb. di plastica e Lat...,31.198,31.347,34.829,39.206,41.589,43.199,43.466
13,Pneumatici,23.000,57.000,30.000,8.000,19.000,33.000,44.000
14,Rifiuti Urbani Pericolosi,539.000,588.000,764.000,668.000,747.000,872.000,1.074
15,Sfalci e Potature,433.000,393.000,753.000,728.000,736.000,1.186,892.000
16,Tessili - Indumenti,2.725,2.761,3.515,3.237,3.317,3.251,2.015
17,Umido,34.567,36.058,40.783,71.737,118.188,134.636,134.817
18,Vetro,63.580,63.780,63.076,62.373,63.166,65.298,64.722

In [189]:
raccolta4.melt(
    id_vars=['tipo'],
    var_name= 'anno',
    value_name= 'quantita')

                                        tipo  anno  quantita
0    Altri rifiuti da raccolta differenziata  2010   182.000
1                                      Carta  2010    67.712
2                                    Cartone  2010    19.064
3        Elettrodomestici RAEE - R1 (Freddo)  2010   589.000
4       Elettrodomestici RAEE - R2 (Bianchi)  2010   660.000
..                                       ...   ...       ...
128                Rifiuti Urbani Pericolosi  2016     1.074
129                        Sfalci e Potature  2016   892.000
130                      Tessili - Indumenti  2016     2.015
131                                    Umido  2016   134.817
132                                    Vetro  2016    64.722

[133 rows x 3 columns]

In [190]:
raccolta5=raccolta3.reset_index()
raccolta5

tipo,anno,Altri rifiuti da raccolta differenziata,Carta,Cartone,Elettrodomestici RAEE - R1 (Freddo),Elettrodomestici RAEE - R2 (Bianchi),Elettrodomestici RAEE - R3 (TV - Monitor),Elettrodomestici RAEE - R4 (Apparecchiature varie),Elettrodomestici RAEE - R5 (Sorgenti Luminose),Elettrodomestici totale,Ingombranti a recupero,Legno,Metalli,Multimateriale Leggero (Imb. di plastica e Lattine),Pneumatici,Rifiuti Urbani Pericolosi,Sfalci e Potature,Tessili - Indumenti,Umido,Vetro
0,2010,182.000,67.712,19.064,589.0,660.0,1.657,1.065,9.0,3.981,NaN,5.850,1.480,31.198,23.0,539.000,433.000,2.725,34.567,63.580
1,2011,191.000,64.959,17.890,553.0,460.0,1.528,1.143,10.0,3.694,NaN,5.829,1.634,31.347,57.0,588.000,393.000,2.761,36.058,63.780
2,2012,208.000,64.599,17.303,475.0,329.0,1.213,1.163,13.0,3.193,NaN,5.649,1.669,34.829,30.0,764.000,753.000,3.515,40.783,63.076
3,2013,274.000,64.772,17.927,405.0,424.0,970.000,1.156,13.0,2.968,NaN,5.401,1.650,39.206,8.0,668.000,728.000,3.237,71.737,62.373
4,2014,223.000,63.723,19.379,461.0,513.0,921.000,1.217,13.0,3.125,NaN,6.046,1.838,41.589,19.0,747.000,736.000,3.317,118.188,63.166
5,2015,1.242,60.808,20.292,404.0,532.0,758.000,1.270,13.0,2.977,10.620,6.031,1.846,43.199,33.0,872.000,1.186,3.251,134.636,65.298
6,2016,310.000,58.966,20.534,651.0,718.0,632.000,1.391,13.0,3.405,9.963,5.862,1.972,43.466,44.0,1.074,892.000,2.015,134.817,64.722

In [195]:
raccolta5.melt(
    id_vars='anno',
    value_vars=['Carta','Cartone'],
    var_name= 'tipo',
    value_name= 'quantita')

    anno     tipo  quantita
0   2010    Carta    67.712
1   2011    Carta    64.959
2   2012    Carta    64.599
3   2013    Carta    64.772
4   2014    Carta    63.723
5   2015    Carta    60.808
6   2016    Carta    58.966
7   2010  Cartone    19.064
8   2011  Cartone    17.890
9   2012  Cartone    17.303
10  2013  Cartone    17.927
11  2014  Cartone    19.379
12  2015  Cartone    20.292
13  2016  Cartone    20.534

**AGGREGATE e TRANSFORM**

**Calcolare la somma per ogni tipologia di rifiuto su tutti gli anni della rilevazione e ordinare in modo decrescente**

In [199]:
g=raccolta.groupby(['tipo'])[["quantita"]].aggregate('sum')
g.sort_values(['quantita'], ascending = False)

                                                    quantita
tipo
Rifiuti Urbani Pericolosi                           4179.074
Sfalci e Potature                                   3936.186
Elettrodomestici RAEE - R2 (Bianchi)                3636.000
Elettrodomestici RAEE - R1 (Freddo)                 3538.000
Elettrodomestici RAEE - R3 (TV - Monitor)           3285.398
Altri rifiuti da raccolta differenziata             1389.242
Umido                                                570.786
Vetro                                                445.995
Carta                                                445.539
Multimateriale Leggero (Imb. di plastica e Latt...   264.834
Pneumatici                                           214.000
Cartone                                              132.389
Elettrodomestici RAEE - R5 (Sorgenti Luminose)        84.000
Legno                                                 40.668
Elettrodomestici totale                               23.343
Tessili - Indumenti                                   20.821
Ingombranti a recupero                                20.583
Metalli                                               12.089
Elettrodomestici RAEE - R4 (Apparecchiature varie)     8.405

In [218]:
raccolta.groupby(['anno'])[["quantita"]].sum()

      quantita
anno
2010  2667.879
2011  2482.623
2012  2808.992
2013  3760.427
2014  3954.588
2015  2964.656
2016  3608.187

In [220]:
raccolta.groupby(['anno'])[['tipo','quantita']].min()

                                         tipo  quantita
anno
2010  Altri rifiuti da raccolta differenziata     1.065
2011  Altri rifiuti da raccolta differenziata     1.143
2012  Altri rifiuti da raccolta differenziata     1.163
2013  Altri rifiuti da raccolta differenziata     1.156
2014  Altri rifiuti da raccolta differenziata     1.217
2015  Altri rifiuti da raccolta differenziata     1.186
2016  Altri rifiuti da raccolta differenziata     1.074

In [221]:
raccolta.groupby(['anno'])[['tipo','quantita']].max()

       tipo  quantita
anno
2010  Vetro     660.0
2011  Vetro     588.0
2012  Vetro     764.0
2013  Vetro     970.0
2014  Vetro     921.0
2015  Vetro     872.0
2016  Vetro     892.0

In [224]:
raccolta.groupby(['anno'])[['tipo','quantita']].aggregate(['min','max'])

                                         tipo        quantita
                                          min    max      min    max
anno
2010  Altri rifiuti da raccolta differenziata  Vetro    1.065  660.0
2011  Altri rifiuti da raccolta differenziata  Vetro    1.143  588.0
2012  Altri rifiuti da raccolta differenziata  Vetro    1.163  764.0
2013  Altri rifiuti da raccolta differenziata  Vetro    1.156  970.0
2014  Altri rifiuti da raccolta differenziata  Vetro    1.217  921.0
2015  Altri rifiuti da raccolta differenziata  Vetro    1.186  872.0
2016  Altri rifiuti da raccolta differenziata  Vetro    1.074  892.0

In [234]:
raccolta.groupby(['anno'])[['tipo','quantita']].agg(['min', 'max', 'mean'])

     quantita
          min    max        mean
anno
2010    1.065  660.0  148.215500
2011    1.143  588.0  137.923500
2012    1.163  764.0  156.055111
2013    1.156  970.0  208.912611
2014    1.217  921.0  219.699333
2015    1.186  872.0  156.034526
2016    1.074  892.0  189.904579

**Aggiungere una colonna percent con la percentuale del tipo di rifiuto rispetto il totale dei rifiuti del corrispondente anno**

In [245]:
pd.set_option('display.max_rows', 100)
raccolta6=raccolta
raccolta6['percent'] = 100 * raccolta['quantita'] / raccolta.groupby('anno')['quantita'].transform('sum')
raccolta6

,anno,tipo,quantita,percent
0,2016,Vetro,64.722,1.793754
1,2016,Carta,58.966,1.634228
2,2016,Cartone,20.534,0.569095
3,2016,Umido,134.817,3.736419
4,2016,Multimateriale Leggero (Imb. di plastica e Lat...,43.466,1.204649
...,...,...,...,...
127,2010,Metalli,1.480,0.055475
128,2010,Rifiuti Urbani Pericolosi,539.000,20.203315
129,2010,Sfalci e Potature,433.000,16.230121
130,2010,Pneumatici,23.000,0.862108
132,2010,Altri rifiuti da raccolta differenziata,182.000,6.821899

In [270]:
raccolta.groupby('tipo')['quantita'].transform('sum')

0       445.995
1       445.539
2       132.389
3       570.786
4       264.834
         ...
127      12.089
128    4179.074
129    3936.186
130     214.000
132    1389.242
Name: quantita, Length: 128, dtype: float64

In [269]:
raccolta.groupby('anno')['quantita'].transform('size')

0      19
1      19
2      19
3      19
4      19
       ..
127    18
128    18
129    18
130    18
132    18
Name: quantita, Length: 128, dtype: int64

In [268]:
raccolta6.groupby(['anno'])[['percent','quantita']].agg(['min', 'max', 'mean'])

       percent                      quantita
           min        max      mean      min    max        mean
anno
2010  0.039919  24.738753  5.555556    1.065  660.0  148.215500
2011  0.046040  23.684627  5.555556    1.143  588.0  137.923500
2012  0.041403  27.198369  5.555556    1.163  764.0  156.055111
2013  0.030741  25.794943  5.555556    1.156  970.0  208.912611
2014  0.030774  23.289405  5.555556    1.217  921.0  219.699333
2015  0.040005  29.413193  5.263158    1.186  872.0  156.034526
2016  0.029766  24.721557  5.263158    1.074  892.0  189.904579

In [235]:
raccolta6.groupby(['anno'])[['percent','quantita']].aggregate({'percent':['min', 'max'], 'quantita': 'mean'})

       percent               quantita
           min        max        mean
anno
2010  0.039919  24.738753  148.215500
2011  0.046040  23.684627  137.923500
2012  0.041403  27.198369  156.055111
2013  0.030741  25.794943  208.912611
2014  0.030774  23.289405  219.699333
2015  0.040005  29.413193  156.034526
2016  0.029766  24.721557  189.904579

In [283]:
raccolta6['num'] =raccolta.groupby('anno')['quantita'].transform('count')

In [284]:
raccolta6

,anno,tipo,quantita,percent,num
0,2016,Vetro,64.722,1.793754,19
1,2016,Carta,58.966,1.634228,19
2,2016,Cartone,20.534,0.569095,19
3,2016,Umido,134.817,3.736419,19
4,2016,Multimateriale Leggero (Imb. di plastica e Lat...,43.466,1.204649,19
...,...,...,...,...,...
127,2010,Metalli,1.480,0.055475,18
128,2010,Rifiuti Urbani Pericolosi,539.000,20.203315,18
129,2010,Sfalci e Potature,433.000,16.230121,18
130,2010,Pneumatici,23.000,0.862108,18
132,2010,Altri rifiuti da raccolta differenziata,182.000,6.821899,18