# ESEMPIO 1 COMPLETO
_L'esempio verrà progressivamente commentato durante diverse lezioni facendo un parallelo con quanto fatto lo scorso anno nel corso di Data Science con R_

### _tratto da testo d'esame a.a.21/22_
#### <span style="color:red">Come si procede:</span>
1. Si discute della logica delle operazioni 
2. Si richiama quanto fatto per operazioni analoghe svolte con R
3. Si confronta la sintassi (da imparare) di Python con quella di R già nota

- Verificare non solo il codice ma anche la formattazione Markdown delle celle di testo <br> (Usare documentazione Markdown per altre opzioni di formattazione del testo)
- Provare a fare modifiche a testo e a codice
- Provarlo sia con Jupyter Lab sia con Google Colab
- I dataset saranno disponibili sulla directory condivisa di Unimibox 
<br>(URL su Ariel, _Informazioni sul corso_) 
- <span style="color:RED">**le celle di codice vanno eseguite, non solo guardate**</span>

Il **Jupyter Notebook** può essere trasformato in diversi formati con menù **File - Save and Export Notebook as...**), poi scegliendo il formato: <span style="color:teal">HTML</span>, <span style="color:teal">PDF</span>, <span style="color:teal">Markdown</span>, etc.

Di seguito si daranno alcuni suggerimenti per provare delle modifiche 
indicati in <span style="color:darkred">**rosso**</span>

#### **PUNTO 1)** 
1. Importare le librerie standard 
<br>Leggere il dataset <span style="color:blue">**2020Automobili_EU.csv**</span> (_Unimibox_, d. **ICCT_EU**) e salvare nel data frame di lavoro **auto2020**.
<br>Il dataset è estratto da _European Vehicle Market Statistics_
([https://theicct.org/publication/european-vehicle-market-statistics-2021-2022/](https://theicct.org/publication/european-vehicle-market-statistics-2021-2022/)), edizione 2021/2022, dell’International Council of Clean Transportation (ICCT)
<br>Si suggerisce di NON rinominare le colonne. 

    **Effettuare l'analisi preliminare del dataset:**
2. Trovare quali righe hanno tutti i valori mancanti e toglierle da **auto2020**
<br> (*Suggerimento:* usare opportunamente .all(axis=1))
3. Mostrare i tipi di dato associati alle colonne (istruzioni e output).

**Nota**
* Per aumentare il numero di righe visualizzate in un risultato usare: **pd.set_option('display.max_rows', 3000)**
* Analogamente per ridurre il numero di righe: **pd.set_option('display.max_rows', 30)**
* 3000 e 30 sono valori di esempio

**1.1**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
auto2020 = pd.read_csv('2020Automobili_EU.csv', sep=',')
auto2020

,PassengerCar2020,Total_new_sales,Total_new_sales_percent,Price,Diesel,Hybrid,Plug_in_Hybrid,Battery_electric,"Natural gas (mono- / bivalent, incl. LPG)",Flex-Fuel (ethanol / gasoline),...,Mass in running order [kg],Gross weight [kg],Payload [kg],Length [mm],Width [mm],Height [mm],Wheelbase [mm],Seats,Doors,CO2 NEDC and \r\nNEDC (WLTP based) (g/km)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EU-27 + UK,11658884.0,1.000000,32035.323951,0.291080,0.049852,0.049644,0.055651,0.017896,0.000006,...,1457.233747,1943.428677,529.050214,4344.700055,1801.851711,1547.289907,2658.049576,4.995554,4.853000,109.419575
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Germany,2917466.0,0.250235,37504.260960,0.317636,0.023042,0.068630,0.066681,0.004663,0.000000,...,1539.222797,2041.338110,537.555982,4429.854615,1814.841733,1553.113332,2697.591075,4.978157,4.793139,113.663231
4,France,1646995.0,0.141265,29330.633434,0.318373,0.051785,0.045298,0.067481,0.010174,0.000001,...,1387.846103,1842.491646,518.771113,4232.682940,1790.473303,1536.103283,2623.451875,4.988942,4.906983,88.368708
5,UK,1631064.0,0.139899,35643.144058,0.198081,0.066519,0.042237,0.066340,0.000480,0.000000,...,1496.876337,1980.572422,532.237998,4369.273376,1810.248007,1539.216708,2669.104753,5.025042,4.805480,114.171221
6,Italy,1390032.0,0.119225,27548.257797,0.352480,0.047351,0.019774,0.023385,0.089687,0.000006,...,1338.095208,1803.385750,503.396089,4179.864660,1771.985784,1551.182162,2581.428012,4.850357,4.899526,108.910853
7,EU13,1163059.0,0.099757,25176.313435,0.249572,0.059865,0.010999,0.015337,0.020915,0.000045,...,1427.413446,1933.357603,543.730911,4406.303228,1804.961612,1557.882334,2663.228764,5.078198,4.861675,120.331265
8,Spain,925908.0,0.079417,29485.308516,0.355940,0.078729,0.026395,0.019683,0.014778,0.000000,...,1419.929428,1914.730351,531.557638,4342.550690,1804.732462,1564.229703,2659.866785,5.090179,4.903227,109.712974
9,Belgium,431491.0,0.037010,33443.565478,0.329312,0.035767,0.072391,0.034749,0.008839,0.000000,...,1456.674917,1964.901477,574.362673,4382.997789,1810.788394,1544.601230,2676.805279,5.024081,4.859516,107.985667
10,Netherlands,355595.0,0.030500,36032.586752,0.038884,0.069726,0.042765,0.205328,0.005714,0.000000,...,1430.366140,1883.221392,489.666486,4277.344143,1786.237816,1523.294826,2638.602279,4.908314,4.858418,87.592158
11,Sweden,291821.0,0.025030,38718.913882,0.219792,0.080397,0.225869,0.095910,0.010814,0.000038,...,1656.315187,2140.929374,528.143999,4561.562470,1828.000275,1541.467048,2734.330585,5.044263,4.907611,91.806259
12,Austria,248740.0,0.021335,34804.685339,0.397041,0.021810,0.030429,0.064268,0.001636,0.000000,...,1501.464711,1996.759170,539.962037,4404.241918,1810.878704,1564.303162,2682.181741,5.119399,4.861809,112.553313
13,Denmark,199883.0,0.017144,42681.189388,0.230595,0.047623,0.091383,0.071372,0.000000,0.000000,...,1410.300548,1873.395630,501.097025,4309.121979,1786.280688,1524.201489,2642.193905,4.972263,4.890536,96.832699
14,Portugal,145417.0,0.012473,32482.845586,0.344568,0.035443,0.081607,0.053845,0.012708,0.000000,...,1397.922163,1870.724224,513.388270,4316.132645,1793.465081,1518.945523,2651.800589,5.024887,4.851819,96.298845
15,Finland,96487.0,0.008276,37110.610673,0.147180,0.129727,0.132474,0.044016,0.019080,0.000000,...,1511.320504,1972.501719,528.354661,4461.179864,1812.184275,1531.662768,2697.044389,5.041799,4.896336,101.448054
16,Ireland,88325.0,0.007576,30495.422375,0.438268,0.109332,0.027995,0.045447,0.000000,0.000000,...,1437.810208,1953.580491,551.265639,4402.952709,1810.590087,1548.669665,2671.680070,5.086174,4.871977,106.816177
17,Greece,81002.0,0.006948,25449.518110,0.291561,0.065431,0.018469,0.008358,0.021975,0.000000,...,1289.207676,1758.959915,501.738805,4172.992504,1772.692863,1524.818043,2584.557222,4.957333,4.924567,107.139017
18,Luxembourg,45599.0,0.003911,39380.233587,0.399153,0.018356,0.059234,0.054190,0.000351,0.000000,...,1549.045784,2094.796360,548.059323,4426.015498,1823.927103,1565.744595,2701.712235,5.033401,4.792974,119.354284
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Turkey,610109.0,NaN,38642.422836,0.399375,0.026969,0.000798,0.001383,0.043738,0.000000,...,1381.220511,1838.373484,493.515382,4436.361069,1803.849811,1512.924001,2665.252922,5.016684,4.563427,113.488210
21,Switzerland,242470.0,NaN,46978.671304,0.259022,0.045276,0.060239,0.080629,0.002326,0.000000,...,1643.786906,2127.846145,520.946221,4455.950679,1826.101361,1574.257262,2711.530986,5.072656,4.780685,126.462420
22,Norway,141405.0,NaN,44196.655991,0.086015,0.086503,0.204434,0.543128,0.000035,0.000000,...,1794.486110,2252.252809,502.887423,4481.834146,1830.250073,1562.599277,2728.052886,5.012835,4.867542,37.298090
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,VW,1308051.0,0.112193,32219.042654,0.320925,0.000000,0.031876,0.078050,0.012586,0.000024,...,1479.520649,1981.493158,544.771867,4347.528528,1801.036200,1564.207335,2659.115106,5.094100,4.919659,109.958998
25,Renault,809877.0,0.069464,24514.564543,0.292052,0.014708,0.021505,0.123256,0.035757,0.000000,...,1361.851357,1800.522245,486.895538,4188.789010,1789.430389,1535.346181,2627.325838,5.007147,4.983412,93.987082
26,Peugeot,745668.0,0.063957,28050.287422,0.392510,0.000152,0.029234,0.053580,0.000000,0.000000,...,1340.864056,1831.314770,533.869947,4286.075934,1789.631093,1538.498571,2636.962403,5.111407,4.986560,93.841308
27,Mercedes-Benz,722606.0,0.061979,50916.939680,0.479759,0.000030,0.150884,0.018777,0.000000,0.000000,...,1753.902262,2332.638953,598.593545,4676.724528,1849.903585,1557.955420,2844.283492,5.069029,4.657502,123.474650
28,Ford,679822.0,0.058309,28907.724104,0.322885,0.009925,0.036463,0.000403,0.007765,0.000004,...,1467.501599,1976.856763,550.105658,4400.783824,1825.100701,1570.622255,2655.433424,5.226777,4.925691,113.230093
29,BMW,643354.0,0.055181,51171.078448,0.470781,0.000006,0.125010,0.031432,0.000000,0.000000,...,1695.156486,2215.853702,588.268382,4593.824417,1846.700782,1526.121211,2788.265383,4.923117,4.591239,117.699596
30,Toyota,627033.0,0.053782,26561.500857,0.032273,0.649800,0.006343,0.000664,0.000011,0.000003,...,1310.252440,1754.357188,490.638028,4221.784661,1756.943270,1529.365958,2597.704084,4.941701,4.926427,94.371699
31,Skoda,617303.0,0.052947,27827.929510,0.325176,0.000002,0.030096,0.019892,0.021196,0.000029,...,1384.423838,1882.335410,540.666021,4467.263200,1810.528730,1510.130339,2651.874966,5.055877,4.999812,110.964770
32,Audi,575154.0,0.049332,47932.896822,0.423525,0.000045,0.078522,0.043487,0.004318,0.000000,...,1680.244240,2189.348831,560.100127,4551.502102,1843.997309,1503.631803,2743.911957,4.978769,4.818929,121.784007
33,Fiat,495687.0,0.042516,17832.194252,0.242389,0.000281,0.000000,0.012369,0.034856,0.000000,...,1167.103535,1586.613602,444.744435,3891.333212,1690.284536,1546.296869,2408.295128,4.397046,4.269745,114.351860
34,Citroën,461639.0,0.039595,22923.825307,0.376771,0.000000,0.013696,0.006044,0.000000,0.000000,...,1266.202578,1761.142181,552.814412,4175.401484,1777.830760,1580.987944,2622.890642,5.042907,4.923142,102.760116
35,Kia,412934.0,0.035418,26903.539104,0.143936,0.075428,0.084758,0.086361,0.031560,0.000000,...,1398.483953,1848.600302,489.037114,4277.892582,1779.654797,1519.320497,2622.992404,4.988145,4.998742,103.723915
36,Hyundai,408695.0,0.035054,26342.629743,0.146912,0.098539,0.011726,0.124201,0.008231,0.000000,...,1394.376172,1836.742297,488.351182,4216.554783,1788.087071,1539.100041,2604.916437,4.985989,4.996673,108.110343
37,Dacia,397155.0,0.034065,13371.519262,0.287460,0.000000,0.000000,0.004357,0.192182,0.000000,...,1221.369687,1676.999711,501.491650,4250.590973,1763.987029,1597.015197,2652.094854,5.066771,4.950644,114.424038
38,Opel,388627.0,0.033333,25288.201109,0.272091,0.000000,0.019901,0.039451,0.000000,0.000000,...,1316.629707,1831.260194,550.770953,4316.126717,1803.576186,1536.688992,2635.412076,5.101167,4.974531,98.967174
39,SEAT,362849.0,0.031122,27750.561764,0.194177,0.000000,0.020443,0.017272,0.051764,0.000000,...,1360.624227,1848.818338,536.549717,4307.627336,1806.422302,1521.236201,2628.203947,5.088927,4.999961,115.158197
40,Nissan,281424.0,0.024138,28590.680741,0.199660,0.000000,0.000000,0.096033,0.000189,0.000000,...,1388.038390,1847.425641,484.512137,4336.773727,1796.177368,1579.669465,2640.090866,5.053505,4.991209,108.417156
41,Volvo,269589.0,0.023123,50652.483429,0.387011,0.000108,0.279177,0.012630,0.000004,0.000000,...,1865.939371,2373.213665,532.115890,4642.243512,1878.072462,1604.183098,2818.310914,5.135758,4.961618,111.812120
42,Mini,166972.0,0.014321,30123.802858,0.066568,0.000000,0.075983,0.093956,0.000000,0.000000,...,1390.114439,1809.602067,466.465756,4026.889006,1759.033910,1457.449838,2572.149297,4.543479,4.006796,109.294186
43,Suzuki,164344.0,0.014096,21093.029946,0.000024,0.012713,0.006848,0.000000,0.000049,0.000000,...,1106.477233,1525.534992,460.217213,3954.739566,1734.392478,1568.882669,2471.298185,4.780908,4.888604,110.378375
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Mini,730395.0,0.062650,15708.000000,0.000431,0.000190,0.000000,0.097100,0.035260,0.000000,...,1022.100000,1360.400000,380.394860,3558.300000,1633.700000,1503.500000,2344.400000,4.088300,4.466810,91.427000
46,Small,2076580.0,0.178110,21008.000000,0.080615,0.059690,0.000020,0.090700,0.020420,0.000002,...,1192.300000,1624.100000,477.463620,4022.300000,1748.700000,1467.700000,2536.400000,4.925560,4.891680,93.100530
47,Lower Medium,2594934.0,0.222570,29461.000000,0.313272,0.056610,0.043740,0.045300,0.025470,0.000011,...,1409.600000,1897.800000,533.985230,4437.000000,1803.300000,1492.100000,2677.500000,5.100240,4.913410,103.909260
48,Medium,728703.0,0.062500,46071.000000,0.478322,0.024190,0.147960,0.102200,0.001540,0.000003,...,1685.500000,2194.500000,564.446180,4761.100000,1841.900000,1452.800000,2831.600000,4.965570,4.612710,99.778740
49,Upper Medium,239053.0,0.020500,64970.000000,0.556914,0.015490,0.175570,0.088700,0.000000,0.000008,...,1909.900000,2484.100000,623.971820,4940.500000,1879.700000,1470.800000,2940.300000,4.911870,4.473860,110.658450
50,Luxury,21881.0,0.001880,121164.000000,0.451853,0.003160,0.125110,0.000000,0.000000,0.000000,...,2104.500000,2679.900000,608.762530,5165.100000,1920.800000,1463.000000,3081.000000,4.715750,3.800240,174.265700
51,Sport,98624.0,0.008460,94796.000000,0.088062,0.007580,0.033600,0.000000,0.000000,0.000030,...,1641.200000,1987.400000,392.211420,4534.300000,1860.600000,1330.300000,2624.100000,3.380690,2.592260,185.961340
52,Car derived vans,223258.0,0.019150,24038.000000,0.713300,0.000000,0.000000,0.001200,0.012360,0.000013,...,1523.800000,2123.200000,648.238670,4498.900000,1827.300000,1838.700000,2812.600000,5.354560,4.941880,122.465740
53,Non-car derived vans,269140.0,0.023080,45906.000000,0.967686,0.000000,0.004520,0.011800,0.000320,0.000004,...,2100.400000,2994.100000,942.819630,5145.300000,1941.100000,1996.800000,3187.900000,6.254870,4.354510,156.951290
54,Off-Road,4580385.0,0.392870,36629.000000,0.309205,0.062890,0.067160,0.036700,0.015300,0.000006,...,1566.600000,2063.100000,538.052460,4412.700000,1832.100000,1613.000000,2678.900000,5.051540,4.987820,119.107250
55,Multi-purpose,80202.0,0.006880,51043.000000,0.892920,0.000070,0.000040,0.023800,0.000000,0.000000,...,1994.100000,2720.900000,759.883910,4941.300000,1915.500000,1777.400000,3017.800000,6.273340,4.822930,148.734610

### <span style="color:DARKRED">**SUGGERIMENTO**</span>: provare mettendo il dataset in una directory diversa da quella corrente per specificare dei percorsi relativi nel nome

In [4]:
auto2020.columns

Index(['PassengerCar2020', 'Total_new_sales', 'Total_new_sales_percent',
       'Price', 'Diesel', 'Hybrid', 'Plug_in_Hybrid', 'Battery_electric',
       'Natural gas (mono- / bivalent, incl. LPG)',
       'Flex-Fuel (ethanol / gasoline)', 'Automatic', 'Front drive',
       'Rear drive', '4-wheel drive', 'Engine power [KW]', 'Engine size [ccm]',
       'Number of cylinders', 'Mass in running order [kg]',
       'Gross weight [kg]', 'Payload [kg]', 'Length [mm]', 'Width [mm]',
       'Height [mm]', 'Wheelbase [mm]', 'Seats', 'Doors',
       'CO2 NEDC and \r\nNEDC (WLTP based) (g/km)'],
      dtype='object')

**1.2**

In [6]:
pd.set_option('display.max_rows', 3000)
print(auto2020.isna().all(axis=1))

0      True
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23     True
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44     True
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
dtype: bool

In [10]:
auto2020[auto2020.isna().all(axis=1)]

,PassengerCar2020,Total_new_sales,Total_new_sales_percent,Price,Diesel,Hybrid,Plug_in_Hybrid,Battery_electric,"Natural gas (mono- / bivalent, incl. LPG)",Flex-Fuel (ethanol / gasoline),...,Mass in running order [kg],Gross weight [kg],Payload [kg],Length [mm],Width [mm],Height [mm],Wheelbase [mm],Seats,Doors,CO2 NEDC and \r\nNEDC (WLTP based) (g/km)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
auto2020=auto2020[~auto2020.isna().all(axis=1)]
auto2020

,PassengerCar2020,Total_new_sales,Total_new_sales_percent,Price,Diesel,Hybrid,Plug_in_Hybrid,Battery_electric,"Natural gas (mono- / bivalent, incl. LPG)",Flex-Fuel (ethanol / gasoline),...,Mass in running order [kg],Gross weight [kg],Payload [kg],Length [mm],Width [mm],Height [mm],Wheelbase [mm],Seats,Doors,CO2 NEDC and \r\nNEDC (WLTP based) (g/km)
1,EU-27 + UK,11658884.0,1.000000,32035.323951,0.291080,0.049852,0.049644,0.055651,0.017896,0.000006,...,1457.233747,1943.428677,529.050214,4344.700055,1801.851711,1547.289907,2658.049576,4.995554,4.853000,109.419575
3,Germany,2917466.0,0.250235,37504.260960,0.317636,0.023042,0.068630,0.066681,0.004663,0.000000,...,1539.222797,2041.338110,537.555982,4429.854615,1814.841733,1553.113332,2697.591075,4.978157,4.793139,113.663231
4,France,1646995.0,0.141265,29330.633434,0.318373,0.051785,0.045298,0.067481,0.010174,0.000001,...,1387.846103,1842.491646,518.771113,4232.682940,1790.473303,1536.103283,2623.451875,4.988942,4.906983,88.368708
5,UK,1631064.0,0.139899,35643.144058,0.198081,0.066519,0.042237,0.066340,0.000480,0.000000,...,1496.876337,1980.572422,532.237998,4369.273376,1810.248007,1539.216708,2669.104753,5.025042,4.805480,114.171221
6,Italy,1390032.0,0.119225,27548.257797,0.352480,0.047351,0.019774,0.023385,0.089687,0.000006,...,1338.095208,1803.385750,503.396089,4179.864660,1771.985784,1551.182162,2581.428012,4.850357,4.899526,108.910853
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,Sport,98624.0,0.008460,94796.000000,0.088062,0.007580,0.033600,0.000000,0.000000,0.000030,...,1641.200000,1987.400000,392.211420,4534.300000,1860.600000,1330.300000,2624.100000,3.380690,2.592260,185.961340
52,Car derived vans,223258.0,0.019150,24038.000000,0.713300,0.000000,0.000000,0.001200,0.012360,0.000013,...,1523.800000,2123.200000,648.238670,4498.900000,1827.300000,1838.700000,2812.600000,5.354560,4.941880,122.465740
53,Non-car derived vans,269140.0,0.023080,45906.000000,0.967686,0.000000,0.004520,0.011800,0.000320,0.000004,...,2100.400000,2994.100000,942.819630,5145.300000,1941.100000,1996.800000,3187.900000,6.254870,4.354510,156.951290
54,Off-Road,4580385.0,0.392870,36629.000000,0.309205,0.062890,0.067160,0.036700,0.015300,0.000006,...,1566.600000,2063.100000,538.052460,4412.700000,1832.100000,1613.000000,2678.900000,5.051540,4.987820,119.107250
55,Multi-purpose,80202.0,0.006880,51043.000000,0.892920,0.000070,0.000040,0.023800,0.000000,0.000000,...,1994.100000,2720.900000,759.883910,4941.300000,1915.500000,1777.400000,3017.800000,6.273340,4.822930,148.734610

In [21]:
pd.set_option('display.max_rows', 300)

### <span style="color:DARKRED">**SUGGERIMENTO**</span>: provare anche con .any(axis=1)

**1.3**

In [16]:
auto2020.dtypes

PassengerCar2020                              object
Total_new_sales                              float64
Total_new_sales_percent                      float64
Price                                        float64
Diesel                                       float64
Hybrid                                       float64
Plug_in_Hybrid                               float64
Battery_electric                             float64
Natural gas (mono- / bivalent, incl. LPG)    float64
Flex-Fuel (ethanol / gasoline)               float64
Automatic                                    float64
Front drive                                  float64
Rear drive                                   float64
4-wheel drive                                float64
Engine power [KW]                            float64
Engine size [ccm]                            float64
Number of cylinders                          float64
Mass in running order [kg]                   float64
Gross weight [kg]                            float64
Payload [kg]                                 float64
Length [mm]                                  float64
Width [mm]                                   float64
Height [mm]                                  float64
Wheelbase [mm]                               float64
Seats                                        float64
Doors                                        float64
CO2 NEDC and \r\nNEDC (WLTP based) (g/km)    float64
dtype: object

#### **PUNTO 2)** 
1. Dal data frame **auto2020** estrarre le righe corrispondenti alle nazioni (altre righe corrispondono ai costruttori e alle tipologie di automobili). Eliminare le righe "EU 27 + UK" e "EU13". Salvare in **auto2020N**

2. Ora vogliamo aggiungere informazioni da altri dataset, in particolare la popolazione del 2020.
Il dataset <span style="color:blue">**Eurostat_pop.csv**</span> (_Unimibox_, d. **Eurostat**) ha il dato ufficiale della popolazione delle nazioni europee ma queste sono indicate con un codice a due caratteri, non con il nome.
Il dataset <span style="color:blue">**Country_ISOcodes.csv**</span> ((_Unimibox_, d. **Country_names**)) è la codifica *ISO-3166 alpha2* ufficiale con i codici a due lettere e il nome delle nazioni.
<br>Possiamo fare una join tra i due per avere un data frame con: nomi delle nazioni, codifica a due caratteri, popolazione per diversi anni.
Eseguirla e salvare in **EU_pop**.
<br>**ATTENZIONE** c'è una complicazione dovuta a maiuscole-minuscole, cercare "lower" nella documentazione di Pandas.

3. C'è un problema: alcuni codici a due caratteri non coincidono (per verificare: **print(EU_pop["geo"].unique())** mostra i valori unici della colonna geo del data frame EU_pop. Confrontare con i corrispondenti valori del data frame countries). Nel dataset Eurostat ci sono tre codici che non ci sono nella codifica standard alpha2 ISO quindi la join fallisce per quei tre: **EL** per Greece (in ISO è **gr**), **UK** per United Kingdom (in ISO è **gb**) e **XK** per Kosovo (in ISO è assente perché ufficialmente non riconosciuto). 
<br>Occorre intervenire a mano modificando il data frame  **countries**: modificare Greece e United Kingdom rispettivamente con **el** e **uk**, poi inserire ua nuova riga con l'associazione **xk - Kosovo**.
<br>Usare gli indici in maniera opportuna.

4. Rifare la join tra **EU_pop** e **countries** corretto. Verificare che Greece, United Kingdom e Kosovo compaiano nei risultati e che il numero di righe complessivo sia corretto. Salvare in **EU_pop**.

5. Ora possiamo fare la join tra **auto2020N** e **EU_pop**. 
    1. Prima selezionare da **EU_pop** solo le righe corrispondenti al 2020.
    2. Poi fare la join con **auto2020N**
    3. Salvare in **auto2020N_EU**. 
   
6. Ancora un problema: manca una nazione in **auto2020N_EU** rispetto a **auto2020N**.
<br>Procedere come prima: trovare quale manca, capire perché, correggere **countries**, rifare i passaggi e verificare la correttezza.

**2.1**

In [110]:
auto2020N=auto2020[1:20]
auto2020N

,PassengerCar2020,Total_new_sales,Total_new_sales_percent,Price,Diesel,Hybrid,Plug_in_Hybrid,Battery_electric,"Natural gas (mono- / bivalent, incl. LPG)",Flex-Fuel (ethanol / gasoline),...,Mass in running order [kg],Gross weight [kg],Payload [kg],Length [mm],Width [mm],Height [mm],Wheelbase [mm],Seats,Doors,CO2 NEDC and \r\nNEDC (WLTP based) (g/km)
3,Germany,2917466.0,0.250235,37504.260960,0.317636,0.023042,0.068630,0.066681,0.004663,0.000000,...,1539.222797,2041.338110,537.555982,4429.854615,1814.841733,1553.113332,2697.591075,4.978157,4.793139,113.663231
4,France,1646995.0,0.141265,29330.633434,0.318373,0.051785,0.045298,0.067481,0.010174,0.000001,...,1387.846103,1842.491646,518.771113,4232.682940,1790.473303,1536.103283,2623.451875,4.988942,4.906983,88.368708
5,UK,1631064.0,0.139899,35643.144058,0.198081,0.066519,0.042237,0.066340,0.000480,0.000000,...,1496.876337,1980.572422,532.237998,4369.273376,1810.248007,1539.216708,2669.104753,5.025042,4.805480,114.171221
6,Italy,1390032.0,0.119225,27548.257797,0.352480,0.047351,0.019774,0.023385,0.089687,0.000006,...,1338.095208,1803.385750,503.396089,4179.864660,1771.985784,1551.182162,2581.428012,4.850357,4.899526,108.910853
7,EU13,1163059.0,0.099757,25176.313435,0.249572,0.059865,0.010999,0.015337,0.020915,0.000045,...,1427.413446,1933.357603,543.730911,4406.303228,1804.961612,1557.882334,2663.228764,5.078198,4.861675,120.331265
8,Spain,925908.0,0.079417,29485.308516,0.355940,0.078729,0.026395,0.019683,0.014778,0.000000,...,1419.929428,1914.730351,531.557638,4342.550690,1804.732462,1564.229703,2659.866785,5.090179,4.903227,109.712974
9,Belgium,431491.0,0.037010,33443.565478,0.329312,0.035767,0.072391,0.034749,0.008839,0.000000,...,1456.674917,1964.901477,574.362673,4382.997789,1810.788394,1544.601230,2676.805279,5.024081,4.859516,107.985667
10,Netherlands,355595.0,0.030500,36032.586752,0.038884,0.069726,0.042765,0.205328,0.005714,0.000000,...,1430.366140,1883.221392,489.666486,4277.344143,1786.237816,1523.294826,2638.602279,4.908314,4.858418,87.592158
11,Sweden,291821.0,0.025030,38718.913882,0.219792,0.080397,0.225869,0.095910,0.010814,0.000038,...,1656.315187,2140.929374,528.143999,4561.562470,1828.000275,1541.467048,2734.330585,5.044263,4.907611,91.806259
12,Austria,248740.0,0.021335,34804.685339,0.397041,0.021810,0.030429,0.064268,0.001636,0.000000,...,1501.464711,1996.759170,539.962037,4404.241918,1810.878704,1564.303162,2682.181741,5.119399,4.861809,112.553313
13,Denmark,199883.0,0.017144,42681.189388,0.230595,0.047623,0.091383,0.071372,0.000000,0.000000,...,1410.300548,1873.395630,501.097025,4309.121979,1786.280688,1524.201489,2642.193905,4.972263,4.890536,96.832699
14,Portugal,145417.0,0.012473,32482.845586,0.344568,0.035443,0.081607,0.053845,0.012708,0.000000,...,1397.922163,1870.724224,513.388270,4316.132645,1793.465081,1518.945523,2651.800589,5.024887,4.851819,96.298845
15,Finland,96487.0,0.008276,37110.610673,0.147180,0.129727,0.132474,0.044016,0.019080,0.000000,...,1511.320504,1972.501719,528.354661,4461.179864,1812.184275,1531.662768,2697.044389,5.041799,4.896336,101.448054
16,Ireland,88325.0,0.007576,30495.422375,0.438268,0.109332,0.027995,0.045447,0.000000,0.000000,...,1437.810208,1953.580491,551.265639,4402.952709,1810.590087,1548.669665,2671.680070,5.086174,4.871977,106.816177
17,Greece,81002.0,0.006948,25449.518110,0.291561,0.065431,0.018469,0.008358,0.021975,0.000000,...,1289.207676,1758.959915,501.738805,4172.992504,1772.692863,1524.818043,2584.557222,4.957333,4.924567,107.139017
18,Luxembourg,45599.0,0.003911,39380.233587,0.399153,0.018356,0.059234,0.054190,0.000351,0.000000,...,1549.045784,2094.796360,548.059323,4426.015498,1823.927103,1565.744595,2701.712235,5.033401,4.792974,119.354284
20,Turkey,610109.0,NaN,38642.422836,0.399375,0.026969,0.000798,0.001383,0.043738,0.000000,...,1381.220511,1838.373484,493.515382,4436.361069,1803.849811,1512.924001,2665.252922,5.016684,4.563427,113.488210
21,Switzerland,242470.0,NaN,46978.671304,0.259022,0.045276,0.060239,0.080629,0.002326,0.000000,...,1643.786906,2127.846145,520.946221,4455.950679,1826.101361,1574.257262,2711.530986,5.072656,4.780685,126.462420
22,Norway,141405.0,NaN,44196.655991,0.086015,0.086503,0.204434,0.543128,0.000035,0.000000,...,1794.486110,2252.252809,502.887423,4481.834146,1830.250073,1562.599277,2728.052886,5.012835,4.867542,37.298090

In [111]:
auto2020N=auto2020N.drop([7])
auto2020N

,PassengerCar2020,Total_new_sales,Total_new_sales_percent,Price,Diesel,Hybrid,Plug_in_Hybrid,Battery_electric,"Natural gas (mono- / bivalent, incl. LPG)",Flex-Fuel (ethanol / gasoline),...,Mass in running order [kg],Gross weight [kg],Payload [kg],Length [mm],Width [mm],Height [mm],Wheelbase [mm],Seats,Doors,CO2 NEDC and \r\nNEDC (WLTP based) (g/km)
3,Germany,2917466.0,0.250235,37504.260960,0.317636,0.023042,0.068630,0.066681,0.004663,0.000000,...,1539.222797,2041.338110,537.555982,4429.854615,1814.841733,1553.113332,2697.591075,4.978157,4.793139,113.663231
4,France,1646995.0,0.141265,29330.633434,0.318373,0.051785,0.045298,0.067481,0.010174,0.000001,...,1387.846103,1842.491646,518.771113,4232.682940,1790.473303,1536.103283,2623.451875,4.988942,4.906983,88.368708
5,UK,1631064.0,0.139899,35643.144058,0.198081,0.066519,0.042237,0.066340,0.000480,0.000000,...,1496.876337,1980.572422,532.237998,4369.273376,1810.248007,1539.216708,2669.104753,5.025042,4.805480,114.171221
6,Italy,1390032.0,0.119225,27548.257797,0.352480,0.047351,0.019774,0.023385,0.089687,0.000006,...,1338.095208,1803.385750,503.396089,4179.864660,1771.985784,1551.182162,2581.428012,4.850357,4.899526,108.910853
8,Spain,925908.0,0.079417,29485.308516,0.355940,0.078729,0.026395,0.019683,0.014778,0.000000,...,1419.929428,1914.730351,531.557638,4342.550690,1804.732462,1564.229703,2659.866785,5.090179,4.903227,109.712974
9,Belgium,431491.0,0.037010,33443.565478,0.329312,0.035767,0.072391,0.034749,0.008839,0.000000,...,1456.674917,1964.901477,574.362673,4382.997789,1810.788394,1544.601230,2676.805279,5.024081,4.859516,107.985667
10,Netherlands,355595.0,0.030500,36032.586752,0.038884,0.069726,0.042765,0.205328,0.005714,0.000000,...,1430.366140,1883.221392,489.666486,4277.344143,1786.237816,1523.294826,2638.602279,4.908314,4.858418,87.592158
11,Sweden,291821.0,0.025030,38718.913882,0.219792,0.080397,0.225869,0.095910,0.010814,0.000038,...,1656.315187,2140.929374,528.143999,4561.562470,1828.000275,1541.467048,2734.330585,5.044263,4.907611,91.806259
12,Austria,248740.0,0.021335,34804.685339,0.397041,0.021810,0.030429,0.064268,0.001636,0.000000,...,1501.464711,1996.759170,539.962037,4404.241918,1810.878704,1564.303162,2682.181741,5.119399,4.861809,112.553313
13,Denmark,199883.0,0.017144,42681.189388,0.230595,0.047623,0.091383,0.071372,0.000000,0.000000,...,1410.300548,1873.395630,501.097025,4309.121979,1786.280688,1524.201489,2642.193905,4.972263,4.890536,96.832699
14,Portugal,145417.0,0.012473,32482.845586,0.344568,0.035443,0.081607,0.053845,0.012708,0.000000,...,1397.922163,1870.724224,513.388270,4316.132645,1793.465081,1518.945523,2651.800589,5.024887,4.851819,96.298845
15,Finland,96487.0,0.008276,37110.610673,0.147180,0.129727,0.132474,0.044016,0.019080,0.000000,...,1511.320504,1972.501719,528.354661,4461.179864,1812.184275,1531.662768,2697.044389,5.041799,4.896336,101.448054
16,Ireland,88325.0,0.007576,30495.422375,0.438268,0.109332,0.027995,0.045447,0.000000,0.000000,...,1437.810208,1953.580491,551.265639,4402.952709,1810.590087,1548.669665,2671.680070,5.086174,4.871977,106.816177
17,Greece,81002.0,0.006948,25449.518110,0.291561,0.065431,0.018469,0.008358,0.021975,0.000000,...,1289.207676,1758.959915,501.738805,4172.992504,1772.692863,1524.818043,2584.557222,4.957333,4.924567,107.139017
18,Luxembourg,45599.0,0.003911,39380.233587,0.399153,0.018356,0.059234,0.054190,0.000351,0.000000,...,1549.045784,2094.796360,548.059323,4426.015498,1823.927103,1565.744595,2701.712235,5.033401,4.792974,119.354284
20,Turkey,610109.0,NaN,38642.422836,0.399375,0.026969,0.000798,0.001383,0.043738,0.000000,...,1381.220511,1838.373484,493.515382,4436.361069,1803.849811,1512.924001,2665.252922,5.016684,4.563427,113.488210
21,Switzerland,242470.0,NaN,46978.671304,0.259022,0.045276,0.060239,0.080629,0.002326,0.000000,...,1643.786906,2127.846145,520.946221,4455.950679,1826.101361,1574.257262,2711.530986,5.072656,4.780685,126.462420
22,Norway,141405.0,NaN,44196.655991,0.086015,0.086503,0.204434,0.543128,0.000035,0.000000,...,1794.486110,2252.252809,502.887423,4481.834146,1830.250073,1562.599277,2728.052886,5.012835,4.867542,37.298090

**2.2**

In [70]:
EU_pop=pd.read_csv("Eurostat_pop.csv", sep=";")
EU_pop

    geo  TIME_PERIOD  OBS_VALUE
0    AD         2011      78115
1    AD         2012      78115
2    AD         2013      76246
3    AD         2016      71732
4    AD         2018      74794
..   ..          ...        ...
550  XK         2016    1771604
551  XK         2017    1783531
552  XK         2018    1798506
553  XK         2019    1795666
554  XK         2020    1782115

[555 rows x 3 columns]

In [71]:
pd.set_option('display.max_rows', 30)
countries=pd.read_csv("countries.csv", sep=",")
countries

      id alpha2 alpha3                                name
0      4     af    afg                         Afghanistan
1      8     al    alb                             Albania
2     12     dz    dza                             Algeria
3     20     ad    and                             Andorra
4     24     ao    ago                              Angola
..   ...    ...    ...                                 ...
188  862     ve    ven  Venezuela (Bolivarian Republic of)
189  704     vn    vnm                            Viet Nam
190  887     ye    yem                               Yemen
191  894     zm    zmb                              Zambia
192  716     zw    zwe                            Zimbabwe

[193 rows x 4 columns]

In [72]:
df1=EU_pop.merge(countries, left_on=EU_pop["geo"].str.lower(), right_on='alpha2', how='inner')
df1

    geo  TIME_PERIOD  OBS_VALUE   id alpha2 alpha3     name
0    AD         2011      78115   20     ad    and  Andorra
1    AD         2012      78115   20     ad    and  Andorra
2    AD         2013      76246   20     ad    and  Andorra
3    AD         2016      71732   20     ad    and  Andorra
4    AD         2018      74794   20     ad    and  Andorra
..   ..          ...        ...  ...    ...    ...      ...
518  UA         2018   42216766  804     ua    ukr  Ukraine
519  UA         2019   41983564  804     ua    ukr  Ukraine
520  UA         2020   41732779  804     ua    ukr  Ukraine
521  UA         2021   41418717  804     ua    ukr  Ukraine
522  UA         2022   40997698  804     ua    ukr  Ukraine

[523 rows x 7 columns]

**2.3**

In [79]:
print(EU_pop["geo"].unique())

['AD' 'AL' 'AM' 'AT' 'AZ' 'BA' 'BE' 'BG' 'BY' 'CH' 'CY' 'CZ' 'DE' 'DK'
 'EE' 'EL' 'ES' 'FI' 'FR' 'GE' 'HR' 'HU' 'IE' 'IS' 'IT' 'LI' 'LT' 'LU'
 'LV' 'MC' 'MD' 'ME' 'MK' 'MT' 'NL' 'NO' 'PL' 'PT' 'RO' 'RS' 'RU' 'SE'
 'SI' 'SK' 'SM' 'TR' 'UA' 'UK' 'XK']

In [69]:
print(df1["geo"].unique())

['AD' 'AL' 'AM' 'AT' 'AZ' 'BA' 'BE' 'BG' 'BY' 'CH' 'CY' 'CZ' 'DE' 'DK'
 'EE' 'ES' 'FI' 'FR' 'GE' 'HR' 'HU' 'IE' 'IS' 'IT' 'LI' 'LT' 'LU' 'LV'
 'MC' 'MD' 'ME' 'MK' 'MT' 'NL' 'NO' 'PL' 'PT' 'RO' 'RS' 'RU' 'SE' 'SI'
 'SK' 'SM' 'TR' 'UA']

In [ ]:
EL: Greece; UK: United Kingdom; XK: Kosovo

In [77]:
countries[countries["alpha2"]=="gb"]

      id alpha2 alpha3                                               name
183  826     gb    gbr  United Kingdom of Great Britain and Northern I...

In [88]:
countries.loc[countries["alpha2"] == "gb", ["alpha2"]] = "uk"

In [90]:
countries[countries["alpha2"]=="gr"]

     id alpha2 alpha3    name
66  300     gr    grc  Greece

In [91]:
countries.loc[countries["alpha2"] == "gr", ["alpha2"]] = "el"

In [92]:
countries[countries["alpha2"]=="el"]

     id alpha2 alpha3    name
66  300     el    grc  Greece

In [93]:
new_row = {'id':999, 'alpha2':'xk', 'name':'Kosovo'}
#append row to the dataframe
countries = countries.append(new_row, ignore_index=True)

In [94]:
countries[countries["alpha2"]=="xk"]

      id alpha2 alpha3    name
193  999     xk    NaN  Kosovo

**2.4**

In [95]:
df1=EU_pop.merge(countries, left_on=EU_pop["geo"].str.lower(), right_on='alpha2', how='inner')
df1

    geo  TIME_PERIOD  OBS_VALUE   id alpha2 alpha3     name
0    AD         2011      78115   20     ad    and  Andorra
1    AD         2012      78115   20     ad    and  Andorra
2    AD         2013      76246   20     ad    and  Andorra
3    AD         2016      71732   20     ad    and  Andorra
4    AD         2018      74794   20     ad    and  Andorra
..   ..          ...        ...  ...    ...    ...      ...
550  XK         2016    1771604  999     xk    NaN   Kosovo
551  XK         2017    1783531  999     xk    NaN   Kosovo
552  XK         2018    1798506  999     xk    NaN   Kosovo
553  XK         2019    1795666  999     xk    NaN   Kosovo
554  XK         2020    1782115  999     xk    NaN   Kosovo

[555 rows x 7 columns]

**2.5**

In [101]:
df2=df1[df1["TIME_PERIOD"]==2020]
df2

,geo,TIME_PERIOD,OBS_VALUE,id,alpha2,alpha3,name
6,AD,2020,77543,20,ad,and,Andorra
17,AL,2020,2845955,8,al,alb,Albania
29,AM,2020,2959694,51,am,arm,Armenia
40,AT,2020,8901064,40,at,aut,Austria
52,AZ,2020,10067108,31,az,aze,Azerbaijan
...,...,...,...,...,...,...,...
508,SM,2020,34735,674,sm,smr,San Marino
520,TR,2020,83154997,792,tr,tur,Turkey
532,UA,2020,41732779,804,ua,ukr,Ukraine
544,UK,2020,67025542,826,uk,gbr,United Kingdom of Great Britain and Northern I...
554,XK,2020,1782115,999,xk,NaN,Kosovo

In [112]:
auto2020N_EU=auto2020N.merge(df2, left_on='PassengerCar2020', right_on='name', how='inner')
auto2020N_EU

,PassengerCar2020,Total_new_sales,Total_new_sales_percent,Price,Diesel,Hybrid,Plug_in_Hybrid,Battery_electric,"Natural gas (mono- / bivalent, incl. LPG)",Flex-Fuel (ethanol / gasoline),...,Seats,Doors,CO2 NEDC and \r\nNEDC (WLTP based) (g/km),geo,TIME_PERIOD,OBS_VALUE,id,alpha2,alpha3,name
0,Germany,2917466.0,0.250235,37504.260960,0.317636,0.023042,0.068630,0.066681,0.004663,0.000000,...,4.978157,4.793139,113.663231,DE,2020,83166711,276,de,deu,Germany
1,France,1646995.0,0.141265,29330.633434,0.318373,0.051785,0.045298,0.067481,0.010174,0.000001,...,4.988942,4.906983,88.368708,FR,2020,67485531,250,fr,fra,France
2,Italy,1390032.0,0.119225,27548.257797,0.352480,0.047351,0.019774,0.023385,0.089687,0.000006,...,4.850357,4.899526,108.910853,IT,2020,59641488,380,it,ita,Italy
3,Spain,925908.0,0.079417,29485.308516,0.355940,0.078729,0.026395,0.019683,0.014778,0.000000,...,5.090179,4.903227,109.712974,ES,2020,47332614,724,es,esp,Spain
4,Belgium,431491.0,0.037010,33443.565478,0.329312,0.035767,0.072391,0.034749,0.008839,0.000000,...,5.024081,4.859516,107.985667,BE,2020,11522440,56,be,bel,Belgium
5,Netherlands,355595.0,0.030500,36032.586752,0.038884,0.069726,0.042765,0.205328,0.005714,0.000000,...,4.908314,4.858418,87.592158,NL,2020,17407585,528,nl,nld,Netherlands
6,Sweden,291821.0,0.025030,38718.913882,0.219792,0.080397,0.225869,0.095910,0.010814,0.000038,...,5.044263,4.907611,91.806259,SE,2020,10327589,752,se,swe,Sweden
7,Austria,248740.0,0.021335,34804.685339,0.397041,0.021810,0.030429,0.064268,0.001636,0.000000,...,5.119399,4.861809,112.553313,AT,2020,8901064,40,at,aut,Austria
8,Denmark,199883.0,0.017144,42681.189388,0.230595,0.047623,0.091383,0.071372,0.000000,0.000000,...,4.972263,4.890536,96.832699,DK,2020,5822763,208,dk,dnk,Denmark
9,Portugal,145417.0,0.012473,32482.845586,0.344568,0.035443,0.081607,0.053845,0.012708,0.000000,...,5.024887,4.851819,96.298845,PT,2020,10295909,620,pt,prt,Portugal
10,Finland,96487.0,0.008276,37110.610673,0.147180,0.129727,0.132474,0.044016,0.019080,0.000000,...,5.041799,4.896336,101.448054,FI,2020,5525292,246,fi,fin,Finland
11,Ireland,88325.0,0.007576,30495.422375,0.438268,0.109332,0.027995,0.045447,0.000000,0.000000,...,5.086174,4.871977,106.816177,IE,2020,4964440,372,ie,irl,Ireland
12,Greece,81002.0,0.006948,25449.518110,0.291561,0.065431,0.018469,0.008358,0.021975,0.000000,...,4.957333,4.924567,107.139017,EL,2020,10718565,300,el,grc,Greece
13,Luxembourg,45599.0,0.003911,39380.233587,0.399153,0.018356,0.059234,0.054190,0.000351,0.000000,...,5.033401,4.792974,119.354284,LU,2020,626108,442,lu,lux,Luxembourg
14,Turkey,610109.0,NaN,38642.422836,0.399375,0.026969,0.000798,0.001383,0.043738,0.000000,...,5.016684,4.563427,113.488210,TR,2020,83154997,792,tr,tur,Turkey
15,Switzerland,242470.0,NaN,46978.671304,0.259022,0.045276,0.060239,0.080629,0.002326,0.000000,...,5.072656,4.780685,126.462420,CH,2020,8606033,756,ch,che,Switzerland
16,Norway,141405.0,NaN,44196.655991,0.086015,0.086503,0.204434,0.543128,0.000035,0.000000,...,5.012835,4.867542,37.298090,NO,2020,5367580,578,no,nor,Norway

**2.6**

In [113]:
print(auto2020N_EU["PassengerCar2020"].unique())

['Germany' 'France' 'Italy' 'Spain' 'Belgium' 'Netherlands' 'Sweden'
 'Austria' 'Denmark' 'Portugal' 'Finland' 'Ireland' 'Greece' 'Luxembourg'
 'Turkey' 'Switzerland' 'Norway']

In [114]:
print(auto2020N["PassengerCar2020"].unique())

['Germany' 'France' 'UK' 'Italy' 'Spain' 'Belgium' 'Netherlands' 'Sweden'
 'Austria' 'Denmark' 'Portugal' 'Finland' 'Ireland' 'Greece' 'Luxembourg'
 'Turkey' 'Switzerland' 'Norway']

Manca UK, correggo countries

In [115]:
countries.loc[countries["alpha2"] == "uk", ["name"]] = "UK"

In [118]:
df1=EU_pop.merge(countries, left_on=EU_pop["geo"].str.lower(), right_on='alpha2', how='inner')
df1

    geo  TIME_PERIOD  OBS_VALUE   id alpha2 alpha3     name
0    AD         2011      78115   20     ad    and  Andorra
1    AD         2012      78115   20     ad    and  Andorra
2    AD         2013      76246   20     ad    and  Andorra
3    AD         2016      71732   20     ad    and  Andorra
4    AD         2018      74794   20     ad    and  Andorra
..   ..          ...        ...  ...    ...    ...      ...
550  XK         2016    1771604  999     xk    NaN   Kosovo
551  XK         2017    1783531  999     xk    NaN   Kosovo
552  XK         2018    1798506  999     xk    NaN   Kosovo
553  XK         2019    1795666  999     xk    NaN   Kosovo
554  XK         2020    1782115  999     xk    NaN   Kosovo

[555 rows x 7 columns]

In [119]:
df2=df1[df1["TIME_PERIOD"]==2020]
df2

    geo  TIME_PERIOD  OBS_VALUE   id alpha2 alpha3        name
6    AD         2020      77543   20     ad    and     Andorra
17   AL         2020    2845955    8     al    alb     Albania
29   AM         2020    2959694   51     am    arm     Armenia
40   AT         2020    8901064   40     at    aut     Austria
52   AZ         2020   10067108   31     az    aze  Azerbaijan
..   ..          ...        ...  ...    ...    ...         ...
508  SM         2020      34735  674     sm    smr  San Marino
520  TR         2020   83154997  792     tr    tur      Turkey
532  UA         2020   41732779  804     ua    ukr     Ukraine
544  UK         2020   67025542  826     uk    gbr          UK
554  XK         2020    1782115  999     xk    NaN      Kosovo

[46 rows x 7 columns]

In [120]:
auto2020N_EU=auto2020N.merge(df2, left_on='PassengerCar2020', right_on='name', how='inner')
auto2020N_EU

,PassengerCar2020,Total_new_sales,Total_new_sales_percent,Price,Diesel,Hybrid,Plug_in_Hybrid,Battery_electric,"Natural gas (mono- / bivalent, incl. LPG)",Flex-Fuel (ethanol / gasoline),...,Seats,Doors,CO2 NEDC and \r\nNEDC (WLTP based) (g/km),geo,TIME_PERIOD,OBS_VALUE,id,alpha2,alpha3,name
0,Germany,2917466.0,0.250235,37504.260960,0.317636,0.023042,0.068630,0.066681,0.004663,0.000000,...,4.978157,4.793139,113.663231,DE,2020,83166711,276,de,deu,Germany
1,France,1646995.0,0.141265,29330.633434,0.318373,0.051785,0.045298,0.067481,0.010174,0.000001,...,4.988942,4.906983,88.368708,FR,2020,67485531,250,fr,fra,France
2,UK,1631064.0,0.139899,35643.144058,0.198081,0.066519,0.042237,0.066340,0.000480,0.000000,...,5.025042,4.805480,114.171221,UK,2020,67025542,826,uk,gbr,UK
3,Italy,1390032.0,0.119225,27548.257797,0.352480,0.047351,0.019774,0.023385,0.089687,0.000006,...,4.850357,4.899526,108.910853,IT,2020,59641488,380,it,ita,Italy
4,Spain,925908.0,0.079417,29485.308516,0.355940,0.078729,0.026395,0.019683,0.014778,0.000000,...,5.090179,4.903227,109.712974,ES,2020,47332614,724,es,esp,Spain
5,Belgium,431491.0,0.037010,33443.565478,0.329312,0.035767,0.072391,0.034749,0.008839,0.000000,...,5.024081,4.859516,107.985667,BE,2020,11522440,56,be,bel,Belgium
6,Netherlands,355595.0,0.030500,36032.586752,0.038884,0.069726,0.042765,0.205328,0.005714,0.000000,...,4.908314,4.858418,87.592158,NL,2020,17407585,528,nl,nld,Netherlands
7,Sweden,291821.0,0.025030,38718.913882,0.219792,0.080397,0.225869,0.095910,0.010814,0.000038,...,5.044263,4.907611,91.806259,SE,2020,10327589,752,se,swe,Sweden
8,Austria,248740.0,0.021335,34804.685339,0.397041,0.021810,0.030429,0.064268,0.001636,0.000000,...,5.119399,4.861809,112.553313,AT,2020,8901064,40,at,aut,Austria
9,Denmark,199883.0,0.017144,42681.189388,0.230595,0.047623,0.091383,0.071372,0.000000,0.000000,...,4.972263,4.890536,96.832699,DK,2020,5822763,208,dk,dnk,Denmark
10,Portugal,145417.0,0.012473,32482.845586,0.344568,0.035443,0.081607,0.053845,0.012708,0.000000,...,5.024887,4.851819,96.298845,PT,2020,10295909,620,pt,prt,Portugal
11,Finland,96487.0,0.008276,37110.610673,0.147180,0.129727,0.132474,0.044016,0.019080,0.000000,...,5.041799,4.896336,101.448054,FI,2020,5525292,246,fi,fin,Finland
12,Ireland,88325.0,0.007576,30495.422375,0.438268,0.109332,0.027995,0.045447,0.000000,0.000000,...,5.086174,4.871977,106.816177,IE,2020,4964440,372,ie,irl,Ireland
13,Greece,81002.0,0.006948,25449.518110,0.291561,0.065431,0.018469,0.008358,0.021975,0.000000,...,4.957333,4.924567,107.139017,EL,2020,10718565,300,el,grc,Greece
14,Luxembourg,45599.0,0.003911,39380.233587,0.399153,0.018356,0.059234,0.054190,0.000351,0.000000,...,5.033401,4.792974,119.354284,LU,2020,626108,442,lu,lux,Luxembourg
15,Turkey,610109.0,NaN,38642.422836,0.399375,0.026969,0.000798,0.001383,0.043738,0.000000,...,5.016684,4.563427,113.488210,TR,2020,83154997,792,tr,tur,Turkey
16,Switzerland,242470.0,NaN,46978.671304,0.259022,0.045276,0.060239,0.080629,0.002326,0.000000,...,5.072656,4.780685,126.462420,CH,2020,8606033,756,ch,che,Switzerland
17,Norway,141405.0,NaN,44196.655991,0.086015,0.086503,0.204434,0.543128,0.000035,0.000000,...,5.012835,4.867542,37.298090,NO,2020,5367580,578,no,nor,Norway